/* .bsap_backfillframe { width: 336px !important; height: 280px !important; } */

/* Standard font family for site */
body, table, tr, td, a, p, h1, h2, h3, h4, h5, input, h3 a,  h4 a, h5 a, #pageHeader ul li ul a, .textArea { font-family: "Lucida Grande", "Lucida Sans Unicode", arial, helvetica, verdana, sans-serif; }

/* Museo Slab */
h1, h2, h1 a, h2 a, h3 a, h4 a, h5 a, #pageHeader ul a, ul#footerNavOther a, ul#footerNavMain a, input[type="submit"], #advertise-here-sidebar a { font-family: "museo-slab-1", "museo-slab-2", "Palatino Linotype", "Book Antiqua", "Palatino", serif; }

/* Page body style */
body { margin: 150; padding: 0; font-size: 1em; line-height: 1.7em; background: #001000 url("/res/Image/v4/misc/body-bg.png") repeat-x 0 0; color: #20B868; -webkit-font-smoothing: antialiased; }
html, body { height: 100%; }

/* Standard paragraph style */ 
blockquote { font-weight: bold; font-size: 1.1em; line-height: 1.5em; }

/* Links */ 
a { text-decoration: none; }
p a, #mainContent ul a, #mainContent ol a, #mainContent dl a, .item .entry a { text-decoration: underline; }
a:link, a:active { color: #309296; }
a:visited { color: #5E399C; }
a:hover { color: #3399FF; text-decoration: underline; }
a.ext:link, a.ext:active, a.ext:visited, a.ext:hover { color: #333; text-decoration: underline; }
div.breadcrumbs ul li a, #relatedArticles a { text-decoration: none !important; }

/* Bulleted lists */
ul { margin-top: 0; margin-left: 0; padding-left: 0; list-style: circle url(/res/Image/v4/misc/li-bullet.png) outside; }
#sidebarWrap ul { margin-top: 0; margin-left: 0; padding-left: 0; list-style: circle url(/res/Image/v4/misc/li-bullet-sidebar.png) outside; }
ol { margin-top: 0; margin-left: 0; padding-left: 0; }
li { margin-left: 1.4em; margin-top: 0; margin-bottom: 1em; }

/* Definition lists */
dl { width: 100%; margin: 2em 0; padding: 0; clear: both; overflow: auto; }
dt { width: 30%; float: left; margin: 0; padding: 10px 9.9% 10px 0; border-top: 1px solid #ccc; font-weight: bold; overflow: auto; clear: left; } /* 9.9% to keep IE7 happy */
dd { width: 60%; float: left; margin: 0; padding: 11px 0 10px 0; border-top: 1px solid #ccc; overflow: auto; }

/* Headings */ 
h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a { line-height: 1.25em; color: #333; }
h1 { font-weight: normal; margin: 50px 0 14px; font-size: 2.3em; }
h2 { color: #f14609; font-style: italic; font-weight: normal; margin: 60px 0 12px; font-size: 2em; }
h2 a:link, h2 a:visited { color: #309296; }
h2 code { color: #f14609; font-size: .9em; }
h3 { font-weight: bold; margin: 40px 0 10px 0; font-size: 1.3em; }
h4 { font-weight: bold; margin: 40px 0 10px; font-size: 1.1em; }
h5 { font-weight: bold; margin: 40px 0 10px; font-size: 1.0em; }

/* Breadcrumbs */
.breadcrumbs, .breadcrumbs a { font-weight: normal; font-style: italic; font-family: "Georgia", "Times New Roman", serif; }
.breadcrumbs { margin: 20px 0 -30px 0; font-size: 1.1em; }

/* Container for page */ 
#container { padding: 0; width: 980px; margin: 0 auto; }
#mainContent { position: relative; } /* Mainly to stop disappearing content bug in IE6 with the imagekits */

/* Page header */ 
#pageHeader { width: 980px; height: 111px; position: relative; margin: 0; padding: 0; background: transparent url("/res/Image/v4/misc/header-bg-dots.png") no-repeat center 0; }
#pageHeader h3 { position: absolute; left: -10px; top: 0; margin: 0; padding: 0; }
#pageHeader h3 a { cursor: pointer; float: left; width: 272px; height: 111px; margin: 0; padding: 0; border: 0; background: transparent url("/res/Image/v4/misc/elated-logo-tab.png") no-repeat 0 0; }
#pageHeader h3 span { display: none; }

/* Main column */
#mainWrap { float: left; width: 660px; }
#main { width: 600px; padding: 0 30px; background: transparent url("/res/Image/v4/misc/main-content-bg.png") repeat-y 0 0; }
#mainTop { width: 640px; padding: 20px 10px 0 10px; margin: 0 0 0 -30px; background: transparent url("/res/Image/v4/misc/main-content-top.png") no-repeat 0 0; height: 0; line-height: 0; }
#mainBot { width: 640px; padding: 20px 10px 0 10px; margin: 0 0 0 -30px; background: transparent url("/res/Image/v4/misc/main-content-bot.png") no-repeat 0 0; height: 0; line-height: 0; }

/* Sidebar column */
#sidebarWrap { float: right; width: 320px; font-size: 0.9em; line-height: 1.3em; }
.sidebarBoxTop { width: 320px; padding: 0; margin: 0 0 0 -20px; background: transparent url("/res/Image/v4/misc/sidebar-box-top.png") no-repeat 0 0; height: 20px; line-height: 0; }
.sidebarBox { width: 280px; padding: 0 20px; margin: 0; background: color: #111; }
.sidebarBox h3 { margin-top: 0; padding-top: 0; font-size: 1.1em; }
.sidebarBoxBot { width: 320px; padding: 20px 0 0 0; margin: 0; background: transparent url("/res/Image/v4/misc/sidebar-box-bot.png") no-repeat 0 0; height: 0; line-height: 0; }
.sidebarBoxFooter { width: 280px; height: 31px; padding: 6px 20px; margin: 0 0 0 -20px; background: transparent url("/res/Image/v4/misc/sidebar-box-footer.png") no-repeat 0 0; }
#sidebar { width: 300px; margin: 0 10px; color: #333; }
.sidebarBox #email { background: #fff; margin: 0; padding: 6.5px; border: 1px solid #d1d1d1; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 1.0em; color: #666; }
#sidebar .adBox { background: #e5e5e5;  border: 1px solid #d1d1d1; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; margin-top: 10px; padding: 10px 0 0 11px; overflow: hidden; } /* width: 100% triggers hasLayout for ie6 */
#sidebar .adBox div.ad { float: left; margin-right: 12px; }
#sidebar .adBox a { background: #d1d1d1; padding: 4px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-right: 10px; -moz-transition: background-color .3s, color .3s; -webkit-transition: background-color .3s, color .3s; transition: background-color .3s, color .3s; line-height: 0; }
#sidebar .adBox a.adhere { line-height: 120px;  }
#sidebar .adBox a:hover { background: #aaa; }
#sb-rss, #sb-twitter, #sb-facebook { float: left; display: block; font-weight: bold; height: 19px; }
#sb-rss { padding: 2px 0 0 30px; margin-right: 30px; background: url("/res/Image/v4/misc/rss.png") no-repeat 0 0; }
#sb-twitter { padding: 2px 0 0 36px; margin-right: 0; background: url("/res/Image/v4/misc/twitter.png") no-repeat 0 0; }
#sb-facebook { float: right; padding: 2px 0 0 30px; background: url("/res/Image/v4/misc/facebook.png") no-repeat 0 0; }
#sb-rss:hover, #sb-twitter:hover, #sb-facebook:hover { background-position: 0 -21px; }
#sidebar .bsa_it_ad { padding: 10px; margin-top: 10px; margin-bottom: 10px; height: 100px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-width: 1px; border-color: #f14609; background-color: #1056e6; -moz-transition: background-color .3s; -webkit-transition: background-color .3s; transition: background-color .3s; }
#sidebar .bsa_it_p { bottom: 10px; right: 10px; }
#sidebar .bsa_it_p a { color: #999; }
#sidebar .bsa_it_ad:hover { border-color: #f85320; background-color: #1052c4; }
#sidebar .bsa_it_d { font-size: .75em; }

/* Nav menu */
#pageHeader ul { list-style: none; position: absolute; right: 10px; top: 55px; width: 546px; height: 40px; padding: 17px 0 0 20px; background: transparent url("/res/Image/v4/misc/menu-tab.png") no-repeat 0 0; text-align: center; }
#pageHeader ul li { display: inline; margin: 0; padding: 0; }
#pageHeader ul ul { background: transparent; }
#pageHeader ul a { color: #111; text-shadow: -1px -1px 1px #888; font-size: .85em; line-height: 1.5em; font-weight: 400; margin: 0 7px 0 7px; padding: 0 0 1em 0; display: block; float: left; }
#pageHeader ul li ul a { float: none; }
#pageHeader ul li#navArticles>a { padding-right: 18px; background: transparent url("/res/Image/v4/misc/menu-down-arrow.png") no-repeat 97% 7px;  }


/* (suckerfish) */
#pageHeader ul li ul a { display: block; padding: 6px 0; width: 17em; border-top: 1px solid #4bc5ca; font-size: 0.90em; }
#pageHeader ul>li>ul>li:first-child>a { border-top: none; }
li#navArticles>ul>li>a { background: transparent url("/res/Image/v4/misc/menu-right-arrow.png") no-repeat 99% 12px; }
li#navArticles>ul>li.nochildren>a { background: transparent; }
li#navArticles>ul>li.sep { padding: 4px 0; border-bottom: 1px solid #666; }
#pageHeader ul li ul li { float: left; }
#pageHeader ul li ul { /* second-level lists */ position: absolute; width: 17.3em; height: auto; left: -999em; top: 50px; padding: 6px; z-index: 9999; border: 1px solid #85c8cb; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background: transparent url("/res/Image/v4/misc/menu-dropdown-bg.png") repeat-x 0 0; -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
#pageHeader ul li ul li { display: block; float: none; text-align: left; z-index: 9999; }
/* #pageHeader ul li ul li:first-child { border-top: none; } */
#pageHeader ul li ul ul { /* third-and-above-level lists */ margin: -2.95em 0 0 17em; top: auto; z-index: 9999; }
#pageHeader ul li:hover ul ul, #pageHeader ul li.sfhover ul ul { left: -999em; z-index: 9999; }
#pageHeader ul li:hover ul, #pageHeader ul li li:hover ul, #pageHeader ul li.sfhover ul, #pageHeader ul li li.sfhover ul { /* lists nested under hovered list items */ left: -29px; z-index: 9999; }
#pageHeader ul li li:hover ul { left: .5em; }
#pageHeader ul li#navArticles>a { width: 50px; }
#pageHeader ul li#navArticles span.tri { display: block; position: absolute; width: 22px; height: 11px; left: -999em; top: 40px; background: transparent url("/res/Image/v4/misc/menu-dropdown-triangle-top.png") no-repeat 50% 0; margin: 0; padding: 0; z-index: 10000;  }
#pageHeader ul li#navArticles:hover span.tri { left: 79px; z-index: 10000; }
#pageHeader ul li#navArticles ul li { position: relative; }
#pageHeader ul li#navArticles ul li span.tri2 { display: block; position: absolute; width: 11px; height: 22px; left: -999em; top: 0.4em; background: transparent url("/res/Image/v4/misc/menu-dropdown-triangle-left.png") no-repeat 50% 0; margin: 0; padding: 0; z-index: 10000; }
#pageHeader ul li#navArticles ul li:hover span.tri2 { left: 16.74em; z-index: 10001; }


/* Global search */
#globalSearch { position: absolute; right: 10px; top: 16px; padding: 0; }
#searchQuery { float: left; }
#searchButton { float: left; margin-left: 10px; }

/* General text styles */
.bold { font-weight: bold; }
span.onscreen { font-style: italic; font-weight: bold; color: #993333; } /* Used for text that appears on-screen, or names of on-screen things */
strong.menu, kbd { color: #337733; } /* Used for indicating menu options, buttons, links or keypresses */
span.code { display: inline; border: none; padding: 0 2px; font-family: Courier New, Courier, Serif; background-color: transparent; color: inherit; }
code, kbd, samp { font-size: 1em; margin: 0 .2em; color: #444; font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace; }
code.filename { color: #773333; }
pre.code code { color: #262; }
dfn { font-weight: bold; font-style: italic; }
.pullQuote { float: right; width: 10em; background: #efefef; padding: 1em; margin: 1em 0 1em 1em; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

/* Article images: centred, with vertical margin */
.articleImageWrap { clear: both; display: block; width: 100%; margin: 40px auto; overflow: visible; }
.articleImage { display: block; width: 100%; margin: 0 auto; }
.articleImage.shadow { border: 1px solid #333; -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
.articleImageCaption { text-align: center; font-weight: bold; margin: -20px 0 40px 0; }

/* Code/output/highlight/info boxes (highlight boxes are deprecated; use info instead now) */
.code, .samp, .infoBox, .highlightBox { background: #125fef no-repeat scroll 0 0; margin: 30px auto 30px auto; padding: 25px 10px 10px 10px; width: auto; overflow: auto; border-bottom: 1px solid #ccc; }
.infoBox, .highlightBox { background: #125fef; padding-top: 45px; }
div.code, div.samp { margin-top: 35px; }
.code .top, .samp .top { margin: 10px 0 10px 0; }
.postContent .code { margin: 0; border: 1px solid #999977; max-height: 30em; }
.articleResponseBody .code { margin: 0; max-height: 30em; }
.infoBox h3, .highlightBox h3 { margin-top: 15px; }
pre { background: #001000; padding: 10px; max-width: 600px; max-height: 50em; overflow: auto; font-size: 1.2em; }


/* Pagination boxes */
.pagination { float: right; text-align: right; width: 200px; }
.pagination span { padding: 10px; margin: 0; background-color: #efefef; border: 1px solid #ccc; }


/* PageKits */

/* Individual PageKits on the PageKits browse pages */
.pagekit { float: left; width: 32%; height: 370px; }
.pagekit.right { border-right: none; }
.pagekit-inner { padding: 0 5px; }
.pagekit-inner-left { padding-left: 0 5px 0 0; }
.pagekit-thumb { border: 1px solid #666; }
.pagekit-sep { float: left; width: 2%; height: 300px; background: transparent url("/res/Image/v4/pagekits/thumb-separator.gif") repeat-y 50% 0; }
#viewPageKitNavOuter { width: 1010px; } 
h1#viewPagekitNavLogo { margin: 0; padding: 0; }
h1#viewPagekitNavLogo a { display: block; margin: 0; padding: 0; float: left; width: 60px; height: 100px; margin-right: 10px; background-image: url(/res/Image/misc/aboutus/general.jpg); background-position: 0 0; }
h1#viewPagekitNavLogo span { display: none; }
#viewPagekitNavAd { float: left; width: 728px; padding: 0 8px 0 0; margin-top: 6px; background-color: white; }
#viewPagekitNavWrap { float: left; display: block; width: 200px; }
#viewPagekitNavWrap h1 { margin: 10px 0 0 0; padding: 0px 0 0 0; font-size: 1.0em; }
#viewPagekitNavWrap p { display: block; width: 190px; margin: 4px 10px 0 0; }

/* ImageKits */

/* ImageKits intro text */
#imagekits-intro { padding: 0 219px 0 0; background: transparent url("/res/Image/misc/bears/imagekits.jpg") no-repeat right top; }

/* ImageKits type icons */
img.imagekitTypeIcon { width: 50px; height: 50px; background-color: #F7F7E6; padding: 10px; }

/* Individual ImageKits on the ImageKits browse pages */
#imagekitsWrap { margin-left: 0; }
/*.imagekit { float: left; width: 33%; min-width: 110px; height: 8em; min-height: 170px; }*/
.imagekit { float: left; width: 8.8em; min-width: 100px; height: 8em; min-height: 170px; line-height: 1em; }
.imagekit-inner { padding-right: 10px; }
.imagekit-inner-table { border: none; margin: 0 auto 0 auto; height: 140px; }
.imagekit-inner-thumb { height: 110px; vertical-align: bottom; text-align: center; }
.imagekit-inner-title { vertical-align: top; text-align: center; height: 2em; font-size: .9em; }
.imagekit-thumb { border: 1px solid #666; }

/* ImageKit slide images */
.imagekit-slide { border: 1px solid #666; max-width: 590px; }

/* Forums */
.postHeader { background-color: #ccc; padding: 5px 0 4px 4px; border-bottom: 1px solid #fff; line-height: 1.2em; }
.postTime { float: left; width: 30%; padding: 0 0 0 15px; font-size: 0.85em; background: transparent url("/res/Image/forums/post_old.gif") no-repeat 0 0; }
.postTime.new { background: transparent url("/res/Image/forums/post_new.gif") no-repeat 0 0; }
.postEdit { float: right; width: 50%; text-align: right; font-size: 0.85em; }
.postBody { width: 100%; background: #efefef url("/res/Image/v4/forums/post-body-bg.png") repeat-y 0 0; }
.postAuthor { float: left; width: 101px; display: block; padding-right: 2px; }
.postAuthor-inner { padding: 12px 0 8px 0; text-align: center; font-size: .9em; line-height: 1.2em; font-weight: bold; display: block; background-color: #e0e0e0; min-height: 240px; overflow: hidden; }
.postContent { width: auto; overflow: auto; }
.postContent-inner { padding: 8px; overflow: auto; min-height: 244px; }
.avatar { display: block; clear: both; width: 80px; height: 80px; margin: 6px auto 0 auto; border: none; }
.memberStars { display: block; clear: both; width: 80px; height: 22px; margin: 3px auto 0 auto; border: none; }
.memberRank { display: block; clear: both; margin: 1px 0 0 0; font-size: 0.85em; font-weight: normal; }
.numPosts { display: block; clear: both; margin: 1px 0 0 0; font-size: 0.85em; font-weight: normal; }
.memberLocation { display: block; clear: both; margin: 0.5em 5px 0 5px; font-size: 0.85em; font-weight: normal; color: #666; }
.bbcodeBar { background: #efefef; padding: 6px 0; margin: 0 0 0 6px; font-size: 0.9em; line-height: 1.2em; border: 1px solid #d1d1d1; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.bbcodeButton { margin: 0 0 0 5px; width: 20px; height: 20px; border: none; vertical-align: middle; }
.forumRSSButton { display: inline-block; margin: 0 0 0 5px; vertical-align: baseline; width: 14px; height: 14px; background: url("/res/Image/forums/rss.png") no-repeat 0 0; }
.forumRSSButton span { display: none; }
.forumRSSButton:hover { background-position: 0 -14px; }
#forumRSSButtonAll { display: block; padding: 2px 0 0 30px; height: 19px; background: url("/res/Image/forums/rss-big.png") no-repeat 0 0; font-weight: bold; font-size: 1.1em;  }
#forumRSSButtonAll:hover { background-position: 0 -21px; }

/* Page footer */
#pageFooter { width: 940px; margin: 0 10px; padding: 20px 10px; border-top: 1px solid #e0e0e0;
background: -moz-linear-gradient(top, #EBEBEB 0%, #F8F8F8 30%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBEBEB), color-stop(30%,#F8F8F8));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBEBEB', endColorstr='#F8F8F8',GradientType=0 );
background: -o-linear-gradient(top, #EBEBEB 0%,#F8F8F8 30%);}
ul#footerNavOther, ul#footerNavMain { float: left; list-style: none; margin-right: 20px; }
ul#footerNavOther li, ul#footerNavMain li { margin: 0; padding: 5px 0; border-bottom: 1px solid #ddd; }
ul#footerNavOther a, ul#footerNavMain a { display: block; line-height: 1.1em; width: 160px; font-size: 0.9em; font-weight: 300; margin: 0; padding: 0; }
#pageFooter p.copyright { float: left; width: 290px; font-size: 0.9em; margin: 0 50px 0 0; }

/* Standard images */ 
img { border: none; }

/* Form fields */
form { margin: 0; padding: 0; }
input[type="text"], input[type="password"] { width: 150px; color: #666; background-color: #fff; margin: 0; padding: 6px; font-size: 1.0em; border: 1px solid #d1d1d1; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.textField.narrow { width: 55px; }
.textField.wide { width: 300px; }
.textArea { width: 180px; height: 150px; padding: 6px; font-size: 1.0em; background-color: #fff; border: 1px solid #d1d1d1; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.textArea.wide { width: 300px; }
.select { width: 185px; }
.select.wide { width: 300px; }
.select.narrow { width: 100px; }
select.small { font-size: 0.75em; }
input[type="submit"] { margin: 0; padding: 4px 6px; font-size: 1.0em; line-height: 1.5em; border: 1px solid #ef6c3e; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #fff; background: #f05e10 url("/res/Image/v4/misc/form-button-bg.png") repeat-x 0 0; font-weight: bold; text-shadow: -1px -1px 1px #888; }
input.default { font-weight: bold; }
input.disabled { border: 1px solid #999999; background-color: #999999; color: #E0E0E0 }
.fullwidthLeft { float: left; width: 40%; font-weight: normal; text-align: right; margin-bottom: 1em; padding-top: 0.25em; }
.fullwidthRight { float: right; width: 57%; margin-bottom: 1em; }
label { margin-top: 5px; line-height: 1.2em; }
label.small { font-size: 0.8em; }
label.fullwidthLeft { font-weight: bold; }
input:focus, textarea:focus, select:focus { background-color: #FFFFE0; color: black; }
textarea.white:focus { background-color: #FFFFFF; }
.readOnlyField { padding-top: 5px; line-height: 1.2em; }
input.shaded { background-color: #efefef; }
span.fieldHelp { display: block; font-size: 0.85em; line-height: 1.2em; font-weight: normal; color: #666; }

/* Tables */
table.shaded { width: 100%; border-spacing: 1px; border: none; }
table.shaded th { text-align: left; background-color: #959595; color: #fff; font-weight: bold; padding: 8px; }
table.shaded td { text-align: left; background-color: #efefef; font-weight: normal; padding: 8px; }
table.shaded tr.disabled td { background-color: #ccc; }

/* New stuff on homepage */
#newstuff .item { margin: 20px 0 55px 0; }
#newstuff .itemHeader { background: transparent url("/res/Image/v4/misc/item-header-bg.png") repeat-x 0 50%; text-align: center; font-style: italic; font-family: "Georgia", "Times New Roman", serif; font-size: 1.0em; margin: 0 0 15px 0; } 
#newstuff .itemHeader span.date { padding-left: 60px; background: #fff url("/res/Image/v4/misc/item-header-swirl-left.png") no-repeat left 50%; } 
#newstuff .itemHeader span.section { padding-left: 0.1em; padding-right: 60px; background: #fff url("/res/Image/v4/misc/item-header-swirl-right.png") no-repeat right 50%; color: #666; } 
#newstuff h2 { font-weight: normal; font-style: normal; margin: 0 0 14px; font-size: 2.3em; padding-bottom: .2em; border-bottom: 1px solid #ccc; }
#newstuff .more { margin-top: 1em; font-size: 1.1em; }
#newstuff .itemHeader a { font-family: "Georgia", "Times New Roman", serif; font-size: 1.0em; color: #666; }
img.newstuff { width: 590px; height: 120px; border: 5px solid #e3e3e3; margin: 5px 0; } /* Used on article pages etc */

/* Share/Follow buttons and popups */
#share div.popup, #follow div.popup { position: absolute; z-index: 9999; background: #fff; border: 2px solid #d1d1d1; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 20px; width: 488px; left: 36px; margin-top: -100px; -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
#share .closeButton, #follow .closeButton { float: right; border: 1px solid #666; background: #ccc; padding: 5px; }
#share .closeButton:hover, #follow .closeButton:hover { cursor: pointer; }

/* Social bookmark links */

.social ul { display: block; float: left; list-style: none; margin: 5px 0 0 0; padding: 0; }
.social ul li { display: inline; padding: 7px 7px 0 0; margin: 0; }
.social ul li:first-child { padding-left: 0; }
.social ul a { display: inline-block; width: 30px; height: 30px; background-image: url("/res/Image/v4/social/social-bookmark-icons-30x30.jpg");  }
.social ul a span { display: none; }
.social ul a.delicious { background-position: 0 0; }
.social ul a.delicious:hover { background-position: 0 -30px; }
.social ul a.digg { background-position: 0 -60px; }
.social ul a.digg:hover { background-position: 0 -90px; }
.social ul a.twitter { background-position: 0 -480px; }
.social ul a.twitter:hover { background-position: 0 -510px; }
.social ul a.facebook { background-position: 0 -120px; }
.social ul a.facebook:hover { background-position: 0 -150px; }
.social ul a.google-bookmarks { background-position: 0 -180px; }
.social ul a.google-bookmarks:hover { background-position: 0 -210px; }
.social ul a.reddit { background-position: 0 -240px; }
.social ul a.reddit:hover { background-position: 0 -270px; }
.social ul a.stumbleupon { background-position: 0 -300px; }
.social ul a.stumbleupon:hover { background-position: 0 -330px; }
.social ul a.yahoo-bookmarks { background-position: 0 -360px; }
.social ul a.yahoo-bookmarks:hover { background-position: 0 -390px; }
.social ul a.rss { background-position: 0 -420px; }
.social ul a.rss:hover { background-position: 0 -450px; }

/* Advertise Here buttons */
a.adHere125 { display: block; width: 125px; height: 125px; background: #ccc url("/res/Image/advertise/advertise-here-125x125.png") no-repeat 0 0; }
a.adHere125:hover { background-position: 0 -125px; }
a.adHere125 span { display: none; }

/* Advertise Here ad in sidebar */

#advertise-here-sidebar a { display: block; font-size: 1.4em; font-weight: normal; line-height: 1.4em; color: #333; background: transparent url("/res/Image/v4/misc/ad-here-target.png") no-repeat 10px 0; height: 67px; padding: 22px 0 0 100px; margin: 30px 0; }
#advertise-here-sidebar a:hover { background-position: 10px -89px; color: #3399FF; text-decoration: none; }

/* Article meta-info */
#articleMeta { padding: 20px 10px 5px 10px; background-color: #eee; border: 1px solid #ccc; overflow: hidden; }

/* Article summary */
#articleSummary { font-weight: bold; padding-bottom: 10px; min-height: 70px; margin-bottom: 20px; margin-top: 16px; border-bottom: 1px solid #ccc; }

/* Share buttons at top of article */
/*#articleShareTop { float: left; width: 122px; margin-top: 20px; margin-right: 18px; }*/
#articleShareTop { float: left; width: 52px; margin-top: 20px; margin-right: 18px; }
#articleShareTop .twitter { float: left; width: 60px; margin-left: 0; }
/*#articleShareTop .facebook { float: right; width: 50px; margin-top: 0; }*/


/* Related Articles */
ul#relatedArticles li { margin-bottom: .8em; font-size: .9em; line-height: 1.4em; }

/* Article responses */
.articleResponseHeader { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-top: 20px; padding: 4px; background-color: #efefef; }
.articleResponseHeader .username { display: inline; margin-right: 5px; font-weight: bold; }
.articleResponseHeader .date { display: inline; font-size: 0.85em; }
.articleResponseHeader .date span { color: #f46a05; }
.articleResponseBody { padding: 8px 4px 4px 4px; }
.viewAllResponses { border-top: 1px solid #ddddb7; padding-top: 18px; }

/* Follow tab */

#followTab {
  list-style: none;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 130px;
  width: 24px;
  padding: 8px 5px;
  border: 3px solid #fff;
  border-right: none;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  background: rgba(239, 91, 10, .75);
  background: -moz-linear-gradient(top, rgba(243, 52, 8, .75), rgba(239, 91, 10, .75));
  background: -webkit-gradient( linear, left top, left bottom, from( rgba(243, 52, 8, .75) ), to( rgba(239, 91, 10, .75) ) );
  background: linear-gradient(top, rgba(243, 52, 8, .75), rgba(239, 91, 10, .75));
}

#followTab li {
  margin: 9px 0 0 0;
  line-height: 0;
}

#followTab li:first-child {
  margin-top: 0;
}

#followTab a {
  display: block;
  width: 24px;
  background-image: url("/res/Image/v4/follow-tab-buttons.png");
}

#followTab a span {
  position: absolute;
  top: -999em;
}

#followTab a.newsletter {
  height: 16px;
  background-position: 0 0;
}

#followTab a.newsletter:hover {
  background-position: 0 -16px;
}

#followTab a.rss {
  background-position: 0 -32px;
  height: 24px;
}

#followTab a.rss:hover {
  background-position: 0 -56px;
}

#followTab a.twitter {
  background-position: 0 -80px;
  height: 15px;
}

#followTab a.twitter:hover {
  background-position: 0 -95px;
}

#followTab a.facebook {
  background-position: 0 -110px;
  height: 24px;
}

#followTab a.facebook:hover {
  background-position: 0 -134px;
}



/* View Demo / Download Code buttons at top of articles */
.demoDownloadWrap { overflow: auto; }
.viewDemo, .downloadCode { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow: 0 0 .3em rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .3); -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .3);  }
.viewDemo:hover, .downloadCode:hover { background: #1058f8; text-decoration: none; }
.viewDemo { display: block; float: left; background: #111; border: 1px solid gray; margin: 30px 10px 30px 30px; padding: 20px; width: 10em; text-align: center; font-size: 1.5em; font-weight: bold; }
.downloadCode { display: block; float: right; background: #111; border: 1px solid gray; margin: 30px 30px 30px 10px; padding: 20px; width: 10em; text-align: center; font-size: 1.5em; font-weight: bold; }

/* Swirly HR */

hr.swirl { border: none; margin: 0; padding: 0; background: transparent url("/res/Image/v4/misc/hr-swirl.png") no-repeat 50% 50%; height: 16px; }

/* Clearing element */
.clear { position: relative; clear: both; height: 0; line-height: 0; margin: 0; padding: 0; border: 0; font-size: 1px; }


/* shCore.css */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}

.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important;
}
.syntaxhighlighter.source {
  overflow: hidden !important;
}
.syntaxhighlighter .bold {
  font-weight: bold !important;
}
.syntaxhighlighter .italic {
  font-style: italic !important;
}
.syntaxhighlighter .line {
  white-space: pre !important;
}
.syntaxhighlighter table {
  width: 100% !important;
}
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important;
}
.syntaxhighlighter table td.code {
  width: 100% !important;
}
.syntaxhighlighter table td.code .container {
  position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important;
}
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}
.syntaxhighlighter.show {
  display: block !important;
}
.syntaxhighlighter.collapsed table {
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}
.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important;
}
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}
.syntaxhighlighter.printing .line .content {
  color: black !important;
}
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}


/* shThemeElatedV4.css */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  line-height: 1.3em !important;
  font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, "Courier New", monospace !important;
}

.syntaxhighlighter {
  padding: 0 0 0 0 !important;
  margin: 2em 0 !important;
  max-height: 50em;
  width: auto !important;
  overflow: auto;
}

.syntaxhighlighter .line.alt1 {
  background-color: #efefef !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: #f6f6f6 !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  color: #fff !important;
  background-color: #ffe6cc !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: black !important;
}
.syntaxhighlighter table {
  background: #848484 url("/res/Image/v4/misc/code-box-bg.png") no-repeat scroll 0 0 !important; margin: 0 !important; padding: 34px 0 0 0 !important; width: auto !important; border-bottom: 1px solid #ccc;
}

.syntaxhighlighter table caption {
  color: black !important;
}

.syntaxhighlighter table td.code .line {
  padding: .3em 1em !important;
  font-size: .9em !important;
  height: 1.2em !important;
}

.syntaxhighlighter table td.gutter .line {
  padding: .3em 1em !important;
  font-size: .9em !important;
  height: 1.2em !important;
}

.syntaxhighlighter .gutter {
  color: #666 !important;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #ddd !important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #ffe6cc !important;
  color: #000 !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: @efefef !important;
  border: 1px solid #6ce26c !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #6ce26c !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: black !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #282828 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #008200 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #33c !important;
}
.syntaxhighlighter .keyword {
  color: #006699 !important;
}
.syntaxhighlighter .preprocessor {
  color: gray !important;
}
.syntaxhighlighter .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter .constants {
  color: #0066cc !important;
}
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #006699 !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red !important;
}

.syntaxhighlighter .keyword {
  font-weight: bold !important;
}


