<style type="text/css">
a {	text-decoration: none; font-size:16px;}
table{font-size:16px;}
#SectionMenu{width:100%; margin-bottom:15px; font-size:13px; line-height:180%;}
#SectionMenu a{display:inline-block;}

.StkRatio{width:30%; height:16px; margin:1px 0 1px 0;}
.ADUIunchange, a.ADUIunchange{color:#999; font-weight:bold;}
.ADUInoturnover, a.ADUInoturnover{color:#666; font-weight:bold;}
.ADUIBarup{background-color:#cc0033;font-size:10px;}
.ADUIBardown{background-color:#006600; font-size:10px;}
.ADUIBarunchange{background-color:#999;font-size:10px;}
.ADUIBarnoturnover{background-color:#666;font-size:10px;}

.DivFigureContent{margin:5px 2px 5px 2px; float:left; clear:both; *display:inline; *padding-bottom:2px;}
.greyTxt,a.greyTxt{color:#666; font-size:12px;}
.remark,a.remark{color:#666; font-size:11px;}
a.greyTxt:hover, a.remark:hover{color:#999;}

.down,a.down{color:#339900; font-weight:bold;}
.up,a.up{color:#F00; font-weight:bold;}
.unchange, a.unchange{color:#000; font-weight:bold;}
.HeaderTxt,a.HeaderTxt{font-size:16px; font-weight:bold; line-height:130%;}
.boldTxt{font-weight:bold;}
.whiteTxt,a.whiteTxt{color:#FFF;}
a.whiteTxt:hover{color:#ececec;}
.greyTxt,a.greyTxt{color:#666; font-size:12px;}
.remark,a.remark{color:#666; font-size:11px;}
a.greyTxt:hover, a.remark:hover{color:#999;}
.date{color:#666; font-size:10px;}

.figureTableText, .figureTableText a{font-size:12px;}
.oddRow{background:#000;}
.evenRow{background:#010;}

</style> 
<body bgcolor="#000000" text="#109030" leftmargin="10" topmargin="10" marginwidth="50" link="#08C8A8" vlink="#389898" alink="#28B8B8">
