@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@charset UTF-8;

html,
body {
/*     font-family: monospace, monospace;*/
     color: gray;
	padding: 0;
	word-wrap: break-word;text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
     }
@media only screen and (max-width: 960px) {
  body {margin-left: 0%;}
  .mainFrame {width:100%; font-size: 24px}
  pre, body, div {width:100%;}
  pre {white-space: pre-wrap;}
  img {width:100%}
  button {margin-top: 5px;}
  #schRst, #markLst {font-size: 20px}
  select option { font-size: 18px, line-height: 60%;}
  canvas {width:100%;}
}

html {
	overflow: scroll;
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%}

html,
body {font-size: 15px;
	line-height: 1.5;background-color: black;}

html::-webkit-scrollbar { width: 15px; background: #135;} 
html::-webkit-scrollbar-thumb {   background: #369; border-radius: 8px;}
html::-webkit-scrollbar-thumb:hover { background: #649;}

.visibleBar::-webkit-scrollbar { display: inline; width:15px; background: #123456; }
.invisibleBar::-webkit-scrollbar { width: 0px;background: transparent;}

body {color: gray;
	word-wrap: break-word;
	margin: 2vw;
	width: 96vw;}

@media only screen and (max-width: 1080px) {
  body, pre, div {width:100%;}
}
canvas {width:100%;}

h2, h3, h4, h5, h6{display: block; }
a {text-decoration: none; color: #28A8A8; font-size: inherit;
   background-color: transparent; -webkit-text-decoration-skip: objects}
a:visited{background-color: #201000;}

b{color:green;}
span:active,
b:active,
a:hover {text-decoration: none; border-radius: 16px;background-color: black;
	-webkit-transition: background-color 1000ms;
	-ms-transition: background-color 1000ms;
	transition: background-color 1000ms;
	box-shadow: 0 3px 5px rgba(255, 36, 36, 0.5);}

a:focus { color: red;}

a:active,
a:hover { outline-width: none;}
mark {background-color: black;}

strong{color: #FF6347;}
img {vertical-align: middle;border-style: none; border-radius: 3px;margin-top:10px;margin-bottom:10px;}

.rotateImg {max-width: 100vh; max-height: 100vw;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(90deg);
}
.rotateAntiImg {transform: rotate(270deg);scale(.4);}
  
tr:nth-child(even) {background: #001010;}

code {color: green;background-color: #000008; font-size: 80%;}

.ctr { text-align: center;}
.ctr .toRight{ float: right;}
.toLeft{ float: left;}

pre {color: gray;background-color: #000202;text-align: left;
	white-space: pre-wrap;
	background-image:inherit;}
xmp {color: gray;text-align: left;
	white-space: pre-wrap;font-size: 100%;}

u {text-decoration: none;border-bottom: 1px solid gold;}
i {text-decoration: none; color: brown;}

a.newtype { color: pink}

.absImage {
	width: 8vw;
	display: inline-block;
	margin-right: 2%;}

#absoluteImg {
	vertical-align: super;
	width: 8vw;
	padding: 3px;border-radius: 15px;border: 2px solid gold;background-color: darkgray;
	overflow: hidden;
	margin-top: 2vw;
	margin-right: 0%;}

.mainmenu {
	width: auto;
	vertical-align: top;
	display: inline-block;
	margin-left: 0%;}

::selection {color: red;background-color: #001008;background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);}

.-js {color: gray;}
.-keyword {color: brown;}
.-comment {color: teal;}
.-number {color: orange;}
.-attr {color: green;}
.-function {color: pink;}
.-params {color: royalblue;}
.-string {color: purple;}
.-title {color: crimson;}
code, kbd, pre, samp { font-family: monospace, monospace;font-size: 1em}
em {color:orange;}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible}

button, input, select, textarea { margin: 0}
button, input { overflow: visible}
button, select {text-transform: none}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {border-style: none;
	padding: 0}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring { outline: 1px dotted ButtonText}

input[type="text"], textarea { background-color : #909090; }
textarea { overflow: auto}

::-webkit-input-placeholder {color: inherit;
	opacity: 0.54}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit}

h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}
h1, h2, h3, h4, h5, h6 { font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400; margin: 10px 0;color: gold;}

small {font-size: 80%; color:darkblue;}

sub, sup {font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline}

sub { bottom: -0.25em}
sup { top: -0.5em}

#toc,.toc,.subtoc, #indexTOC {
	display: inline-block;color: GoldenRod;font-size: 100%;text-align: left;
	padding: 2%;
	line-height: 160%;
	box-shadow: 5px 5px 15px silver;border-radius: 10px;border: 1px solid DarkSlateGray;}
.subtoc {box-shadow: 5px 5px 5px orange;}

.bold {font-weight: bold;}
.someMsg {
	margin-left: 30vw;
	margin-right: 30vw;
	display: inline-block;color: gold;font-size: 100%;text-align: left;}

.idx {color: pink;}

.left,
.title {
	position: absolute;border-radius: 4px;
	left: 5vw;color: GoldenRod;border: 1px solid GoldenRod;
	padding: 3px;
	margin-left: 5vw;
	margin-top: 10px;
	margin-bottom: 50px;font-size: 100%;
	box-shadow: rgba(255, 0, 0, 0.9) 0px 5px 8px;}

.index {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 10px;
	margin-top: 10px;font-size: 100%;border-radius: 5px;color: GoldenRod;border: 1px solid GoldenRod;
	padding: 8px;
	box-shadow: 3px 3px 5px brown;}

.index>a {color: lightgreen;}
minor {font-weight: bold;}
k {color: #307090; background-color: #000000;}
dr {color: darkred;}
r {color: red;}
o {color: orange;}
y {color: #FFE4B5;}
gr {color: green;}
lg {color: lightgreen;}
db {color: darkblue;}
pp {color: purple;}
m {color: brown;}
pk {color: pink;}
wh {color: white;}
dg {color: darkgreen; background-color: #000202;}
.bl {animation: blinker 2s ease-in-out infinite;}

mk {color: #205080; font-size: 80%}
mr {color: darkred; font-size: 80%}
mo {color: orange; font-size: 80%}
my {color: yellow; font-size: 80%}
mlg {color: lightgreen; font-size: 80%}
mz {color: darkblue; font-size: 80%}
mpp {color: purple; font-size: 80%}
mb {color: brown; font-size: 80%}
mpk {color: pink; font-size: 80%}
mlg {color: lightgreen; font-size: 80%}
ru {color: darkred; border-bottom: 1px solid gold; font-size: 80%}
md {color: darkgrey; font-size: 80%}

sf {font-size: 70%}
bk {color: #205080; font-size: 120%}
bf {font-size: 120%}
bdru {color: darkred; border-bottom: 1px solid gold; font-size: 120%}
bbk {color: #205080; background-color: #000000; font-size: 120%}
bdr {color: darkred; font-size: 120%}
bo {color: orange; font-size: 120%}
by {color: yellow; font-size: 120%}
bgr {color: green; font-size: 120%}
blg {color: lightgreen; font-size: 120%}
bz {color: darkblue; font-size: 120%}
bpp {color: purple; font-size: 120%}
bm {color: brown; font-size: 120%}
bpk {color: pink; font-size: 120%}
bdg {color: darkgrey; font-size: 120%}

.right {
	position: absolute;border-radius: 4px;
	right: 5vw;color: lightblue;border: 1px solid GoldenRod;
	padding: 3px;font-size: 100%;}

.middle {border-radius: 4px;text-align: center;color: gold;border: 1px solid GoldenRod;
	padding: 3px;font-size: 100%;}

.ulleft {
	left: 150px;border-radius: 8px;border-bottom: 1px solid GoldenRod;
	padding: 3px;font-size: 100%;}

.tophat {
	right: 10vw;border-radius: 10px;border-top: 1px solid GoldenRod;
	padding: 3px;font-size: 100%;}

.tophatdot {border-radius: 16px;border-top: 1px dotted GoldenRod;
	padding: 1px;font-size: 100%;}

.redtophatdot {border-radius: 32px;border-top: 1px dotted red;
	padding: 1px;font-size: 100%;}

.bottomshoe {border-radius: 10px;border-bottom: 1px solid GoldenRod;
	padding: 3px;font-size: 100%;}

.tophat,
.bottomshoe,
.redtophatdot,
.tophatdot,
.tophat {
	line-height: 200%;}

.bracketit {border-radius: 5px;border-left: 1px solid GoldenRod;border-right: 1px solid GoldenRod;
	padding: 3px;font-size: 100%;}

.aquacolor {color: Aqua;}
.twoCol {column-count: 2; column-gap: 10%;}

/* borders */
.bordsub { display: inline-block; color: #F07070;border: 1px solid darkcyan; padding: 5px;border-radius: 8px; font-size: 100%;}
.bord { color: redrose;border: 1px solid GoldenRod;border-radius: 4px; font-size: 100%; padding: 1px; font-size: 100%;text-shadow: 1px 1px 1px green;}
.bordlime1,.bordred1,.bordred2,.bordred3,.bordorange1,.bordorange2,.bordorange3,.bordyellow1,.bordyellow2,.bordyellow3,.bordgreen1,.bordgreen2,.bordgreen3,.bordcyan1,.bordcyan2,.bordcyan3,.bordblue1,.bordblue2,.bordblue3,.bordpurple1,.bordpurple2,.bordpurple3,.bordwhite1,.bordwhite2,.bordwhite3,.bordgold1,.bordgold2,.bordgold3,.bordblack1,.bordblack2,.bordblack3,.bordpink1,.bordpink2,.bordpink3{line-height: 2;padding-left: 7px;padding-right: 7px;}

.bordred1 {border: 1px solid red;}
.bordred2 {border: 2px solid red;}
.bordred3 {border: 3px solid red;}
.redbord { border: 1px solid red; padding: 3px; font-size: 100%;border-radius: 6px;}

.bordorange1 {border: 1px solid orange;}
.bordorange2 {border: 2px solid orange;}
.bordorange3 {border: 3px solid orange;}

.bordyellow1 {border: 1px solid yellow;}
.bordyellow2 {border: 2px solid yellow;}
.bordyellow3 {border: 3px solid yellow;}
.yellowbord { color: silver; border: 1px solid yellow; padding: 20px; border-radius: 3px; box-shadow: 3px 3px 3px silver;}

.bordgreen1 {border: 1px solid green;}
.bordgreen2 {border: 2px solid green;}
.bordgreen3 {border: 3px solid green;}

.bordcyan1 {border: 1px solid cyan;}
.bordcyan2 {border: 2px solid cyan;}
.bordcyan3 {border: 3px solid cyan;}

.bordblue1 {border: 1px solid blue;}
.bordblue2 {border: 2px solid blue;}
.bordblue3 {border: 3px solid blue;}
.bluebord { color: white; border: 2px solid blue; padding: 15px; border-radius: 3px; box-shadow: -2px -2px 3px blue inset;}

.bordpurple1 {border: 1px solid purple;}
.bordpurple2 {border: 2px solid purple;}
.bordpurple3 {border: 3px solid purple;}

.bordwhite1 {border: 1px solid white;}
.bordwhite2 {border: 2px solid white;}
.bordwhite3 {border: 3px solid white;}
.whitebord { color: red; border: 1px solid white; padding: 3px; font-size: 100%;border-radius: 6px;}

.bordgold1 {border: 1px solid gold;}
.bordgold2 {border: 2px solid gold;}
.bordgold3 {border: 3px solid gold;}
.goldbord { color: gold;border: 1px solid gold; padding: 5px; font-size: 100%;border-radius: 8px;}

.bordblack1 {border: 1px solid black;}
.bordblack2 {border: 2px solid black;}
.bordblack3 {border: 3px solid black;}

.bordpink1 {border: 1px solid pink;}
.bordpink2 {border: 2px solid pink;}
.bordpink3 {border: 3px solid pink;}
.pinkbord { border: 1px solid pink; padding: 3px; font-size: 100%;border-radius: 6px;}

.bordlime1  {border: 1px solid lime;}

.brownbord { color: white;border: 1px solid brown; padding: 5px; font-size: 100%;border-radius: 8px;}

/* Notes */
.index { display: inline-block;}
b[onclick]{color: #40A090; font-size: 18px;}
.smallsize{font-size: 14px;}
.tophatFloatRight{float:right;}
.topicb { color:white; text-align:center; font-size:100%; padding-left:15px;padding-right:15px; margin: 2px; text-shadow: /* Simulating Text Stroke */ 1px 1px 2px gold; border: 2px solid black; border-radius: 10px; box-shadow: 1px 1px 2px lime inset, lime 0px 3px 3px; display: inline-block; text-decoration: none;}
.imp {  color: #E07070; }
.keys { color: red; border-radius:10px; border: 1px solid blue; box-shadow: -2px 3px 6px silver; line-height:2;padding-left:10px;padding-right:10px;}
.monitor {  color: orange; }
.note {  color: darkcyan; }

.goldsha,
.redsha,
.whitesha,
.blacksha,
.purplesha,
.orangesha,
.yellowsha,
.greensha,
.bluesha,
.whiteOnblacksha,
.blackOnredsha {
	padding: 5px;
	margin: 8px;border-radius: 16px;
	line-height: 210%;}

.goldsha {color: gold;border: 1px solid gold;
	box-shadow: -2px -2px 4px darkred inset;text-shadow: 1px 1px 1px black, 0px 0px 4px yellow, -1px -1px 3px red;}

.redsha {color: white;border: 1px solid red;background-color: DarkRed;
	box-shadow: 2px 2px 3px black inset;text-shadow: 1px 1px 3px black, -1px -1px 5px white;}

.whitesha {color: black;border: 1px solid red;background-color: white;
	box-shadow: 3px 3px 6px dimgray inset;text-shadow: 2px 2px 3px black, -2px -2px 3px silver;}

.blacksha {color: gold;border: 1px solid red;background-color: #700000;
	box-shadow: 2px 2px 3px black inset;
	font-weight: bold;}

.whiteOnblacksha {color: white;border: 1px solid red;background-color: #400000;
	box-shadow: 4px 4px 3px black inset;text-shadow: 2px 2px 3px silver, -2px -2px 3px darkblue;}

.blackOnredsha {color: red;border: 1px solid red;background-color: black;
	box-shadow: 1px 1px 1px gold inset;}

.purplesha {color: #9e0063;border: 1px solid #880083;background-color: white;
	box-shadow: 3px 3px 6px #880033 inset;text-shadow: 1px 1px 2px black, -1px -1px 2px #880033;}

.orangesha {color: orange;border: 1px solid yellow;background-color: black;
	box-shadow: 2px 2px 5px white inset;text-shadow: 0px 0px 2px black, 1px 0px 8px white;}

.yellowsha {color: yellow;background-color: #480000;border: 1px solid lime;
	box-shadow: 3px 3px 5px dimgray inset;text-shadow: 0px 0px 1px black, 2px 2px 6px black, -2px -2px 6px black;}

.greensha {color: lime;background-color: #000033;border: 1px solid green;
	box-shadow: 2px 2px 3px rgba(255, 255, 255, 033) inset;text-shadow: 1px 1px 1px black, -1px -1px 1px silver, 0 0 2px white;}

.bluesha {color: white;background-color: darkblue;border: 1px solid lightblue;text-shadow: 2px 2px 4px cyan, -1px -1px 3px gray;
	box-shadow: 2px 2px 3px black inset;}

.blackinsha, .limeinsha, .blueinsha, .redinsha, .yellowinsha, .greeninsha {
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;border-radius: 8px;font-size: 100%;}

.blackinsha {color: black;background-color: gold;border: 1px solid white;
	box-shadow: 3px 3px 6px black inset;text-shadow: 0px 0px 3px black, 2px 2px 4px black;}

.limeinsha {color: lime;background-color: blue;border: 1px solid white;
	box-shadow: 3px 3px 6px lime inset;text-shadow: 0px 0px 4px black, 2px 2px 4px black;}

.blueinsha {color: blue;background-color: white;border: 1px solid white;
	box-shadow: 3px 3px 6px blue inset;text-shadow: 2px 2px 3px black, -1px -1px 3px gray;}

.redinsha {color: red;background-color: white;border: 1px solid white;
	box-shadow: 3px 3px 6px red inset;text-shadow: 2px 2px 3px black, -1px -1px 3px gray;}

.yellowinsha {color: yellow;background-color: black;border: 1px solid white;
	box-shadow: 0 0px 5px rgba(255, 255, 0, 093), 0px 0px 12px yellow inset;text-shadow: 1px 1px 3px gold, -1px -1px 3px gray;}

.greeninsha {color: green;background-color: black;border: 1px solid lime;text-shadow: -1px -1px 1px lime;
	box-shadow: 0 0px 5px rgba(255, 255, 0, 093), 0px 0px 12px green inset;}

.purplebord {background-color: rgba(40, 40, 0, 0.4);color: purple;border: 1px solid purple;
	padding: 5px;font-size: 100%;border-radius: 8px;}

.orangebord {background-color: #10000C;color: orange;border: 1px solid orange;
	padding: 5px;font-size: 100%;border-radius: 8px;}

.greenbord {
	display: inline-block;background-color: #000000;color: green;border: 1px solid green;
	padding: 5px;font-size: 100%;border-radius: 8px;}

.greenbord a {color: orange;}

.gotop {color: Tan;border: 1px solid #e6afff;
	padding: 3px;font-size: 100%;border-radius: 6px;}

.redrose {color: #cc0099;text-shadow: 1px 1px 2px red, -1px -1px 1px white;}
.redword {color: red;text-shadow: 1px 1px 2px black, -1px -1px 1px white;}
.darkredword {color: DarkRed}
.yellowword {color: yellow;text-shadow: 2px 2px 1px brown, -1px -1px 1px white;}
.greenword {color: lightgreen;text-shadow: 2px 3px 3px darkgreen, -1px -1px 1px white;}
.limeword {color: #00ff00}
.grayword {color: gray;text-shadow: 2px 3px 3px darkgreen, -1px -1px 1px white;}
.orangeword {color: orange;text-shadow: 1px 1px 2px black, -1px -1px 1px white;}
.cyanword {color: cyan}
.pinkword {color: pink;text-shadow: 1px 1px 2px red, -2px -1px 1px white;}
.whiteword {color: white;text-shadow: 1px 1px 2px gold;}
.grayword {color: gray}
.brownword {color: #ff8000}
.yellowgreen {color: #bfff00}
.palered {color: #ffcccc}
.blueword {color: dodgerblue;text-shadow: 2px 3px 3px darkblue, -1px -1px 1px white;}
.purpleword {color: darkorchid}
.goldword {color: GoldenRod;text-shadow: 1px 1px 3px red, -1px -1px 1px white;}
.silverword {color: silver}
.blackword {color: black;text-shadow: 1px 1px 1px red, -1px -1px 1px white;}
.darkblueword {color: darkblue;text-shadow: 1px 1px 1px green;}

.keybut {background: #988;border-color: #EEE #AAA #777 #CCC;border-style: solid;border: 2px 4px 4px 3px;color: gold;
	padding: 0px;font-size: 100%;text-shadow: 2px 2px 3px black, 0px 0px 1px orange, -1px -1px 3px white;
	margin: 0 2px;border-radius: 5px;}

.glassb, .blueb, .redb, .yellowb, .purpleb, .greenb, .orangeb, .limeb,
.goldb, .silverb, .whiteb, .blackb, .redyellowb, .silverblueb, .pinkb,
.oliveb, .goldblackb, .goldwhiteb, .goldblueb, .silvergreenb,
.silverredb, .silverpurpleb, .silverblackb, .silveroliveb {
	text-align: center;font-size: 100%;
	padding: 3px;
	margin: 5px;
	text-shadow:
		/* Simulating Text Stroke */
		/*-1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;*/
		1px 1px 1px black;
	border: 2px solid rgba(250, 250, 0, 0.5);
	border-radius: 16px;
	box-shadow:
		0 3px 5px rgba(255, 255, 255, 0.3),
		/* Exterior Shadow */
		inset 0 3px rgba(255, 255, 255, 0.3),
		/* Top light Line */
		inset 0 6px rgba(255, 255, 255, 0.2),
		/* Top Light Shadow */
		inset 0 8px 20px rgba(255, 255, 255, 0.25),
		/* Sides Light Shadow */
		inset 0 -15px 30px rgba(0, 0, 0, 0.3);
	/* Dark Background */
	display: inline-block;
	text-decoration: none;}

.smallword { font-size: smaller;}

.blueb {color: cyan;background-image: 
	linear-gradient(rgba(120, 120, 120, 0.4), rgba(80, 80, 250, 0.2));
	text-shadow: 0px 0px 2px black, 0px 0px 4px black;
	border-color: white;}
.redb {color: red;background-image: 
	linear-gradient(rgba(90, 120, 90, 0.6), rgba(255, 0, 0, 0.25));
	text-shadow: 1px 1px 1px yellow;}
.yellowb {color: yellow;background-image: 
	linear-gradient(rgba(90, 90, 90, 1), rgba(0, 0, 0, 0));}
.purpleb {color: violet;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(200, 0, 180, 0.25));
	text-shadow: 0px -1px 1px black, 0px 1px 8px white;}
.greenb {color: lightgreen;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(0, 128, 0, 0.25));
	text-shadow: 0px -1px 0px gray;}
.orangeb {color: orange;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(250, 250, 0, 0.25));}
.limeb {color: lime;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(0, 255, 0, 0.25));}
.goldb {color: gold;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(255, 215, 0, 0.25));}
.silverb {color: silver;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(192, 192, 192, 0.25));}
.blackb {color: white;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(0, 0, 0, 0.25));
	text-shadow: -1px -1px 1px black, 0px 1px 3px gray;}
.whiteb {color: white;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(255, 255, 255, 0.25));}
.redyellowb {color: red;background-image: 
	linear-gradient(rgba(200, 200, 0, 0.6), rgba(255, 0, 0, 0.25));}
.pinkb {color: pink;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(255, 20, 147, 0.25));}
.oliveb {color: #b0b000;background-image: 
	linear-gradient(rgba(90, 90, 90, 0.6), rgba(128, 128, 0, 0.25));}
.goldblackb {color: gold;background-image: 
	linear-gradient(rgba(255, 215, 0, 0.6), rgba(0, 0, 0, 0.25));
	text-shadow: 0px 0px 3px black, -1px -1px 1px black;}
.goldblueb {color: deepskyblue;background-image: 
	linear-gradient(rgba(255, 215, 0, 0.6), rgba(150, 150, 150, 0.55));
	text-shadow: 0px -1px 0px gray;}
.goldwhiteb {color: white;background-image: 
	linear-gradient(rgba(255, 215, 0, 0.6), rgba(255, 255, 255, 0.45));
	text-shadow: -1px -1px 2px black;}
.silverblueb {background-color: rgba(0, 0, 192, 0.4);color: steelblue;background-image: 
	linear-gradient(rgba(192, 192, 192, 0.4), rgba(0, 0, 255, 0.4));
	text-shadow: 0px 0px 2px black, 2px 2px 3px black;}
.silverredb {background-color: transparent;color: hotpink;background-image: 
	linear-gradient(rgba(192, 192, 192, 0.6), rgba(255, 0, 0, 0.35));}
.silvergreenb {color: greenyellow;background-image: 
	linear-gradient(rgba(192, 192, 192, 0.6), rgba(0, 128, 0, 0.35));}
.silverpurpleb {color: orchid;background-image: 
	linear-gradient(rgba(192, 192, 192, 0.6), rgba(200, 0, 180, 0.35));}
.silverblackb {color: silver;background-image: 
	linear-gradient(rgba(192, 192, 192, 0.4), rgba(0, 0, 0, 0.4));
	text-shadow: 1px 1px 2px black, -1px -1px 2px gray;}
.silveroliveb {color: #a0a000;background-image: 
	linear-gradient(rgba(192, 192, 192, 0.6), rgba(128, 128, 0, 0.35));}

.rbBut {border-radius: 15px;
	position: relative;
	display: inline-block;
	padding: 5px 10px; background-image: linear-gradient(lime, darkgreen);text-decoration: none;font-size: 100%;
	/*border-bottom: 5px solid rgba(0,0,0,0.6);*/

	box-shadow:
		0 5px 15px rgba(0, 255, 255, 0.5),
		/* Exterior Shadow */
		inset 0 3px rgba(255, 255, 255, 0.3),
		/* Top light Line */
		inset 0 10px rgba(255, 255, 255, 0.2),
		/* Top Light Shadow */
		inset 0 10px 20px rgba(255, 255, 255, 0.25),
		/* Sides Light Shadow */
		inset 0 -15px 30px rgba(0, 0, 0, 0.3);
	/* Dark Background */}

.rbBut:after {border-radius: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 95vw;
	height: 50vw;background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));}


table {
	width: 100%;font-size: 20px;border-collapse: collapse;border: 1px solid gray;}

th {border: 1px solid gray;
	font-weight: bold;color: lightgreen;}

td {
	padding: 10px;border: 1px dotted dimgray;}


.questiontitle {
	margin: auto;
	margin-bottom: 2.5rem;color: gray;}

.question,
.answer {
	margin: auto;
	padding: 5px 2px;color: #10C030;}

.answer {color: black}

.answer.appear {color: gray}

button, .jumpButton {background-color: black; outline: none;
    padding: 10px 10px; display: inline-block; margin: auto;
    cursor: pointer; border: 1px solid darkgreen;
    border-radius: 8px; box-shadow: 2px 2px 4px darkgreen inset;}

.mainFrame {border-radius: 5px;border: 1px solid #202020;
	padding: 10px;}

.disabled {background-color: #D8D8D8; color: #888; cursor: not-allowed;}

.blink, .blinkred, .blinkorange, .blinkyellow, .blinkgreen, .blinklime, .blinkblue, .blinkpurple, .blinkgold, .blinksilver {animation: blinker 2s ease-in-out infinite;}
.blinkred {color: red;}
.blinkorange {color: orange;}
.blinkyellow {color: yellow;}
.blinkgreen {color: greenyellow;}
.blinklime {color: lime;}
.blinkblue {color: blue;}
.blinkpurple {color: purple;}
.blinkgold {color: gold;}
.blinksilver {color: silver;}

.blinkfast, .blinkredfast {animation: blinker 0.5s ease-in-out infinite;}
.blinkslow {animation: blinker 4s ease-in-out infinite;}
.blinkveryslow {animation: blinker 8s ease-in-out infinite;}
.blinkredfast {color: red;}
.blinkNmove {animation: mymove 15s ease-in-out infinite;border-radius: 20px;}
.blinkmed {animation: blinker 1s ease-in-out infinite;}
.chgFontsize {animation: chgFontsize 3s ease-in-out infinite;}
.chgUline {animation: myUline 3s ease-in-out infinite;}
.chgRadius {animation: chgRadius 2s ease-in-out infinite;}
.chgmoveUp {animation: moveUp 2s ease-in-out infinite;}
.borderChg {animation: borderChgColor 2s ease-in-out infinite;}


@keyframes blinker {
	0% {opacity: 0;}
	10% {opacity: 1;}
	50% {opacity: 1;}
	60% {opacity: 0;}
	70% {opacity: 1;}
	100% {opacity: 0;}}
@keyframes chgFontsize {
	0% {font-size: 100%;}
	10% {font-size: 95%;}
	50% {font-size: 90%;}
	60% {font-size: 95%;}
	70% {font-size: 90%;}
	100% {font-size: 100%;}}
@keyframes chgRadius {
	0% {border-radius: 15px;}
	10% {border-radius: 20px;}
	50% {border-radius: 15px;}
	60% {border-radius: 10px;}
	70% {border-radius: 14px;}
	100% {border-radius: 16px;}}
@keyframes borderChgColor {
	0% {border-color: red #82a1ce;}
	10% {border-color: red;}
	50% {border-color: gold;}
	60% {border-color: white;}
	70% {border-color: white yellow;}
	100% {border-color: yellow;}}
@keyframes moveUp {
  from { transform: translateY(-1px); }
  to { transform: translateY(0px); }
}

@keyframes mymove {
	0% {background: black;}
	25% {background: #4B0042;}
	50% {background: black; border-radius: 10px; border: 1px solid blue;}
	75% {background: #000050;}
	100% {background: black;}}

@keyframes myUline {
	0% {text-decoration: underline wavy white;}
	25% {text-decoration: underline;}
	50% {text-decoration: underline dotted lime;}
	75% {text-decoration: underline dotted red;}
	100% {text-decoration: underline solid blue;}
}

@media only screen and (max-width: 720px) {
	body {
		font-size: medium;
		width: 100%;
		margin: 0%;}

	.absImage {
		width: 15vw;}

	#absoluteImg {
		width: 15vw}

	.mainFrame {
		width: 100%;
		font-size: medium;}

	.question,
	.answer {
		font-size: large;}

	button,
	.jumpButton {
		font-size: large;}}

@media only screen and (min-width: 721px) and (max-width: 1280px) {
	body {
		font-size: large;
		width: 96%;
		margin: 2%;}

	.absImage {
		width: 5vw;}

	#absoluteImg {
		width: 5vw}

	.mainFrame {
		width: 40%;
		font-size: medium;}

	.question,
	.answer {
		font-size: large;}

	button,
	.jumpButton {
		font-size: large;}

	.left,
	.title {
		font-size: 100%;}}

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
	body {
		font-size: small;
		width: 96%;
		margin: 2%;}

	.absImage {
		width: 5vw;}

	#absoluteImg {
		width: 5vw}

	.mainFrame {
		width: 35%;
		font-size: large;}

	.question,
	.answer {
		font-size: large !important;}

	button,
	.jumpButton {
		font-size: large;}

	.left,
	.title {
		font-size: 70%;}}

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
	body {
		font-size: 1.3vw;
		width: 96%;
		margin: 2%;}

	.absImage {
		width: 5vw;}

	#absoluteImg {
		width: 5vw}

	.mainFrame {
		width: 35%;
		font-size: large;}

	.question,
	.answer {
		font-size: large !important;}

	button,
	.jumpButton {
		font-size: large;}

	.left,
	.title {
		font-size: 70%;}}

@media only screen and (min-width: 1601px) and (max-width: 1920px) {
	body {
		font-size: 1.2vw;
		width: 96%;
		margin: 2%;}

	.absImage {
		width: 5vw;}

	#absoluteImg {
		width: 5vw;}

	.mainFrame {
		width: 35%;
		font-size: large;}

	.question,
	.answer {
		font-size: large !important;}

	button,
	.jumpButton {
		font-size: large;}

	.left,
	.title {
		font-size: 70%;}}

kbd {background-color: #002010;border: 1px solid #d1d5da;border-bottom-color: #c6cbd1;border-radius: 8px;
	box-shadow: inset 0 -1px 0 #c6cbd1;color: silver;
	display: inline-block;
	font: 18px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	line-height: 20px;
	padding: 3px 5px;
	vertical-align: middle}

.Uline {text-decoration: underline;}

.dottedline {text-decoration-style: dotted;}
.wavyline {text-decoration-style: wavy;}
.dashedline {text-decoration-style: dashed;}
.doubleline {text-decoration-style: double;}

.redline {text-decoration-color: red;}
.goldline {text-decoration-color: gold;}
.orangeline {text-decoration-color: orange;}
.yellowline {text-decoration-color: yellow;}
.blueline {text-decoration-color: blue;}
.whiteline {text-decoration-color: white;}
.greenline {text-decoration-color: green;}
.brownline {text-decoration-color: brown;}
.grayline {text-decoration-color: gray;}
.cyanline {text-decoration-color: cyan;}
.darkbrownline {text-decoration-color: #400000;}

.redback {background-color: red;}
.orangeback {background-color: orange;}
.yellowback {background-color: yellow;}
.greenback {background-color: green;}
.cyanback {background-color: cyan;}
.blueback {background-color: blue;}
.purpleback {background-color: purple;}
.whiteback {background-color: white;}
.brownback {background-color: brown;}
.pinkback {background-color: pink;}
.grayback {background-color: gray;}
.indigoback {background-color: indigo;}
.silverback {background-color: silver;}
.goldback {background-color: gold;}
.blackback {background-color: black;}
.aquaback {background-color: #002299;}
.darkgrayback {background-color: #1F3F3F;}
.darkblueback {background-color: #000044;}
.darkredback {background-color: #200000;}
.darkgreenback {background-color: #001800;}
.darkbrownback {background-color: #1a0d00;}
.lightblueback {background-color: #00c4cc;}
.paleblueback {background-color: rgba(0,196,204,.1);}
.dimbrownback {background-color: #272822;}
.noback {background-color:transparent;}

.red { color: red;}
.green { color: #10c0a0;}
.deeppink { color: #FF1493;}
.crimson { color: crimson;}
.Magenta {color: #ff00ff}
.orange { color: orange;}
.yellow { color: yellow;}
.darkgreen { color: #002000;}
.lime { color: lime;}
.cyan { color: cyan;}
.blue { color: blue;}
.darkblue { color: darkblue;}
.purple { color: #9400D3;}
.white { color: white;}
.brown { color: brown;}
.gray { color: gray;}
.indigo { color: indigo;}
.silver { color: silver;}
.gold { color: gold;}
.black { color: black;}
.aaqua { color: aqua;}
.darkbrown { color: #a0002a;}
.olive { color: olive;}
.pink { color: pink;}
.paleyellow {color: #ECF87F;}
.violet {color: rgb(238, 130, 238);}

.aqua {background-color: rgba(60, 132, 198, 0.8);background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)));border-top-color: #8ba2c1;border-right-color: #5890bf;border-bottom-color: #4f93ca;border-left-color: #768fa5;
	-webkit-box-shadow: rgba(66, 140, 240, 0.7) 0px 10px 16px;
	/*  -moz-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px; /* FF 3.5+ */}

.but, .redbut, .orangebut, .yellowbut, .greenbut, .limebut, .cyanbut, .bluebut,
.purplebut, .whitebut, .brownbut, .graybut, .indigobut, .silverbut,
.goldbut, .blackbut, .pinkbut, .olivebut {
	padding: 5px 10px 3px;border-radius: 16px;border: 2px solid #ccc;
	position: relative;
	text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.redbut {border: 2px solid red;}
.orangebut {border: 2px solid orange;}
.yellowbut {border: 2px solid yellow;}
.greenbut {border: 2px solid green;}
.darkgreenbut {border: 2px solid #003300;}
.limebut {border: 2px solid lime;}
.cyanbut {border: 2px solid cyan;}
.bluebut {border: 2px solid blue;}
.purplebut {border: 2px solid purple;}
.whitebut {border: 2px solid white;}
.brownbut {border: 2px solid brown;}
.graybut {border: 2px solid gray;}
.indigobut {border: 2px solid indigo;}
.silverbut {border: 2px solid silver;}
.goldbut {border: 2px solid gold;}
.blackbut {border: 2px solid black;}
.darkbrownbut {border: 2px solid #400000;}
.pinkbut {border: 2px solid pink;}
.olivebut {border: 2px solid olive;}
.but .glare {
	position: absolute;
	top: 0; left: 5px; right: 3px; border-radius: 8px;
	height: 1px;
	padding: 8px 0;
     background-color: rgba(255, 255, 255, 0.25);
	/*background-image: -webkit-gradient(linear, 0% 0%, 0% 30%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));*/}

.glare1, .glare2, .redglare{
	position: absolute;
	top: 0; left: 5px; right: 4px; border-radius: 8px;
	height: 1px;
	padding: 6px 0;}
.glare1 {background-color: rgba(255, 255, 255, 0.3);}
.glare2 {background-color: rgba(255, 255, 255, 0.4);}
.redglare {background-color: rgba(255, 210,210, 0.4);}
.smallpad { padding: 3px 0;}
.lineglare {background-color: rgba(255, 255, 255, 0.4);padding: 4px 0;
	position: absolute; top: 2; left: 5px; right: 4px; border-radius: 8px;
	height: 1px;}

.borRad4 {border-radius: 4px;}
.borRad6 {border-radius: 6px;}
.borRad10 {border-radius: 10px;}
.borRad15 {border-radius: 15px;}
.borRad20 {border-radius: 20px;}

.smallBut {height: auto;}

.glassbut {text-align: center;
	padding: 5px;text-shadow:
		/* Simulating Text Stroke
        -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red; */
		border: 1px solid rgba(255, 255, 255, 0.5);border-bottom: 3px solid rgba(250, 150, 50, 0.8);border-top: 3px solid cyan;border-radius: 10px;background: rgba(0, 0, 0, 0.25);

	-o-box-shadow:
		0 2px 8px rgba(0, 0, 0, 0.5),
		inset 0 1px rgba(255, 255, 255, 0.3),
		inset 0 10px rgba(255, 255, 255, 0.2),
		inset 0 10px 20px rgba(255, 255, 255, 0.25),
		inset 0 -15px 30px rgba(0, 0, 0, 0.3);
	box-shadow:
		0 2px 8px rgba(0, 0, 0, 0.5),
		/* Exterior Shadow */
		inset 0 1px rgba(255, 255, 255, 0.3),
		/* Top light Line */
		inset 0 10px rgba(255, 255, 255, 0.2),
		/* Top Light Shadow */
		inset 0 10px 20px rgba(255, 255, 255, 0.25),
		/* Sides Light Shadow */
		inset 0 -15px 30px rgba(0, 0, 0, 0.3);
	/* Dark Background */
	margin: 10px;
	display: inline-block;text-decoration: none;}

/* background shadow */
.redbs { -webkit-box-shadow: rgba(255, 0, 0, 0.9) 0px 5px 8px;}
.redinsidebs { box-shadow: rgba(255, 0, 0, 0.9) 0px -5px 8px inset;}
.orangebs { -webkit-box-shadow: rgba(255, 102, 0) 0px 4px 8px;}
.yellowbs { -webkit-box-shadow: rgba(255, 255, 0, 0.7) 0px 4px 8px;}
.greenbs { -webkit-box-shadow: rgba(0, 204, 0, 0.7) 0px 3px 8px;}
.cyanbs { -webkit-box-shadow: rgba(0, 153, 255, 0.7) 0px 4px 8px;}
.bluebs { -webkit-box-shadow: rgba(0, 0, 204, 1) 0px 6px 8px;}
.purplebs { -webkit-box-shadow: rgba(102, 0, 204, 1) 0px 5px 8px;}
.whitebs { box-shadow: white 0px 4px 8px;}
.brownbs { -webkit-box-shadow: rgba(128, 0, 0, 1) 0px 5px 8px;}
.graybs { -webkit-box-shadow: rgba(153, 153, 102, 0.7) 0px 4px 8px;}
.indigobs { -webkit-box-shadow: rgba(102, 0, 255, 0.7) 0px 4px 8px;}
.silverbs { -webkit-box-shadow: rgba(230, 230, 255, 0.7) 0px 4px 8px;}
.goldbs { -webkit-box-shadow: rgba(255, 255, 102, 0.7) 0px 4px 8px;}
.blackbs { -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 8px;}
.darkbrownbs { -webkit-box-shadow: rgba(64, 0, 0, 0.7) 0px 5px 8px;}
.pinkbs { -webkit-box-shadow: rgba(255, 0, 128, 0.7) 0px 5px 8px;}
.limebs { box-shadow: lime 0px 5px 8px;}
.cyan1bs { box-shadow: 0px 4px 8px cyan inset, 0px 2px 4px cyan;}

/* background 2 shadows */
.red2bs { box-shadow: 3px 3px 6px red inset, rgba(255, 0, 0, 0.9) 0px 5px 8px;}
.orange2bs { box-shadow: 0px 4px 8px orange inset, 0px 4px 8px orange;}
.yellow2bs { box-shadow: 0px 4px 8px yellow inset, 0px 4px 8px yellow;}
.green2bs { box-shadow: 0px 3px 8px green inset, 0px 3px 8px green;}
.cyan2bs { box-shadow: 0px 4px 8px cyan inset, 0px 4px 8px cyan;}
.blue2bs { box-shadow: 0px 6px 8px blue inset, 0px 6px 8px blue;}
.purple2bs { box-shadow: 0px 5px 8px purple inset, 0px 5px 8px purple;}
.white2bs { box-shadow: 0px 4px 8px white inset, 0px 4px 8px white;}
.brown2bs { box-shadow: 0px 4px 8px brown inset, 0px 4px 8px brown;}
.gray2bs { box-shadow: 0px 4px 8px gray inset, 0px 4px 8px gray;}
.indigo2bs { box-shadow: 0px 4px 8px indigo inset, 0px 4px 8px indigo;}
.silver2bs { box-shadow: 0px 4px 8px silver inset, 0px 4px 8px silver;}
.gold2bs { box-shadow: 0px 4px 8px gold inset, 0px 4px 8px gold;}
.black2bs { box-shadow: 0px 4px 8px black inset, 0px 4px 8px black;}
.darkbrown2bs { box-shadow: 0px 5px 8px #330000 inset, 0px 5px 8px #330000;}
.pink2bs { box-shadow: 0px 5px 8px pink inset, 0px 5px 8px pink;}
.lime2bs { box-shadow: 0px 5px 8px lime inset, 0px 5px 8px lime;}
.olive2bs { box-shadow: 0px 4px 8px olive inset, 0px 4px 8px olive;}


/* mixed grad */
.redgrad {background-image: linear-gradient(rgba(90, 120, 90, 0.6), rgba(255, 0, 0, 0.25));}
.yellowgrad {background-image: linear-gradient(rgba(150, 150, 150, 0.6), rgba(180, 180, 0, 0.7));}
.bluegrad {background-image: linear-gradient(rgba(220, 220, 220, 0.8), rgba(80, 80, 250, 0.6));}
.purplegrad {background-image: linear-gradient(rgba(190, 190, 190, 0.6), rgba(200, 0, 180, 0.7));}
.greengrad {background-image: linear-gradient(rgba(120, 120, 120, 0.6), rgba(0, 204, 0, 0.65));}
.orangegrad {background-image: linear-gradient(rgba(190, 190, 190, 0.6), rgba(250, 250, 0, 0.8));}
.limegrad {background-image: linear-gradient(rgba(190, 190, 190, 0.6), rgba(0, 255, 0, 0.5));}
.goldgrad {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 215, 0, 0.75));}
.silvergrad {background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(192, 192, 192, 0.9));}
.blackgrad {background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85));}
.whitegrad {background-image: linear-gradient(rgba(90, 90, 90, 0.6), rgba(255, 255, 255, 1));}
.pinkgrad {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 20, 147, 0.75));}
.olivegrad {background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(128, 128, 0, 0.75));}
.browngrad {background-image: linear-gradient(rgba(192, 50, 50, 0.4), rgba(50, 20, 20, 0.2));}

.redyellowgrad {background-image: linear-gradient(rgba(200, 200, 0, 0.7), rgba(255, 0, 0, 0.8));}
.redbluegrad {background-image: linear-gradient(rgba(255, 0, 0, 0.7), rgba(0, 0, 255, 0.8));}

.goldbluegrad {background-image: linear-gradient(rgba(255, 215, 0, 0.8), rgba(0, 0, 250, 0.9));}
.whitegoldgrad {background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 215, 0, 0.85));}

.silverbluegrad {background-image: linear-gradient(rgba(192, 192, 192, 0.4), rgba(0, 0, 255, 0.4));}
.silverredgrad {background-image: linear-gradient(rgba(192, 192, 192, 0.6), rgba(255, 0, 0, 0.35));}
.silvergreengrad {background-image: linear-gradient(rgba(192, 192, 192, 0.6), rgba(0, 128, 0, 0.35));}
.silverpurplegrad {background-image: linear-gradient(rgba(192, 192, 192, 0.6), rgba(200, 0, 180, 0.35));}
.silverolivegrad {background-image: linear-gradient(rgba(192, 192, 192, 0.6), rgba(128, 128, 0, 0.35));}

.yellowpinkgrad {background-image: linear-gradient(rgba(250, 250, 00, 0.6), rgba(255, 0, 150, 0.5));}

.redblackgrad {background-image: linear-gradient(rgba(255, 0, 0, 1), rgba(0, 0, 0, 0.85));}
.yellowblackgrad {background-image: linear-gradient(rgba(255, 255, 0, 1), rgba(0, 0, 0, 0.85));}
.orangeblackgrad {background-image: linear-gradient(orange, rgba(0, 0, 0, 0.85));}
.brownblackgrad {background-image: linear-gradient(brown, rgba(0, 0, 0, 0.85));}
.greenblackgrad {background-image: linear-gradient(green, rgba(0, 0, 0, 0.85));}
.blueblackgrad {background-image: linear-gradient(blue, rgba(0, 0, 0, 0.85));}
.silverblackgrad {background-image: linear-gradient(silver, rgba(0, 0, 0, 0.7));}
.goldblackgrad {background-image: linear-gradient(rgba(255, 215, 0, 1), rgba(0, 0, 0, 0.85));}
.purpleblackgrad {background-image: linear-gradient(rgba(173, 52, 203, 1), rgba(0, 0, 0, 0.85));}
.grayblackgrad {background-image: linear-gradient(rgba(160, 160, 160, 1), rgba(0, 0, 0, 0.85));}
.whiteblackgrad {background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.85));}
.pinkblackgrad {background-image: linear-gradient(rgba(247, 59, 197, 1), rgba(0, 0, 0, 0.85));}

.clipback {
  border: solid 1px red;
  padding: 5px;
  height: 1.5em; // because IE
  border-radius: 15px; // support: IE9+ ;)
  background-clip: content-box; // support: IE9+
  background-color: green;
  line-height: 1.5;
  font-size: 20px;
  text-indent: 0.5rem;
}

.bord5 {
  background: blue;
  position: relative;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 
    0 0 0 5px red,
    0 0 0 10px green,
    0 0 0 15px hsl(140, 50%, 60%),
    0 0 0 20px hsl(210, 70%, 80%),
    0 0 0 25px hsl(280, 90%, 100%);
}
.borders {
  position: relative;
  border: 5px solid #f00;
}
.borders:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}
.module {
  background: #f06d06;
  position: relative;
  border: 5px solid blue;  
  margin: 20px;
}
.module:after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: red;
  z-index: -1;
}
.bordoutline {
  border: 5px solid blue; 
  outline: 5px solid red;
}
.redts {text-shadow: 1px 1px 3px red;}
.orangets {text-shadow: 1px 1px 3px orange;}
.yellowts {text-shadow: 1px 1px 2px yellow;}
.greents {text-shadow: 1px 1px 3px green;}
.limets {text-shadow: 1px 1px 3px lime;}
.bluets {text-shadow: 1px 1px 3px blue;}
.purplets {text-shadow: 1px 1px 3px purple;}
.pinkts {text-shadow: 1px 1px 3px pink;}

.goldts {text-shadow: 1px 1px 3px gold;}
.silverts {text-shadow: 1px 1px 3px silver;}
.whitets {text-shadow: 1px 1px 2px white;}
.blackts {text-shadow: 1px 2px 3px black;}

.embossts {text-shadow: 1px 1px 2px black, -1px -1px 1px white;}
.limeembossts {text-shadow: 1px 1px 2px black, -1px -1px 1px lime;}
.blueembossts {text-shadow: 1px 1px 2px black, -1px -1px 1px blue;}
.redembossts {text-shadow: 1px 1px 2px black, -1px -1px 1px red;}
.highlightts {text-shadow: -1px -1px 2px white;}

.redOutline {outline-color:red;}
.orangeOutline {outline-color:orange;}
.yellowOutline {outline-color:yellow;}
.greenOutline {outline-color:green;}
.limeOutline {outline-color:lime;}
.blueOutline {outline-color:blue;}
.purpleOutline {outline-color:purple;}
.whiteOutline {outline-color:white;}
.blackOutline {outline-color:black;}
.goldOutline {outline-color:gold;}

.dotted {outline-style: dotted;}
.dashed {outline-style: dashed;}
.solid {outline-style: solid;}
.double {outline-style: double;}
.groove {outline-style: groove;}
.ridge {outline-style: ridge;}
.inset {outline-style: inset;}
.outset {outline-style: outset;}

.ol1 {outline-width: 1px;}
.ol2 {outline-width: 2px;}
.ol3 {outline-width: 3px;}
.ol4 {outline-width: 4px;}

.bs5 {box-shadow: 3px 3px 15px brown;}

.inline{display: inline-block;}
.highlight {color: gold; text-shadow: 1px 1px 2px red, -1px -1px -2px red;}

.smallfont{font-size: 80%;
	line-height: 1.5;}
.bigfont{font-size: 120%;
	line-height: 1.8;}
video{width:35%}

.aliceblue{color:#f0f8ff;}
.almond{color:#f5f0e1;}
.antiquewhite{color:#faebd7;}
.aquamarine{color:#7fffd4;}
.aqua{color:#00ffff;}
.azure{color:#f0ffff;}
.beige1{color:#ddc3a5;}
.beige2{color:#e0cdbe;}
.beige3{color:#ede6b9;}
.beige4{color:#f6ead4;}
.beige{color:#f5f5dc;}
.bisque{color:#ffe4c4;}
.black-brown{color:#201e20;}
.black1{color:#141414;}
.black2{color:#322e2f;}
.black{color:#000000;}
.blanchedalmond{color:#ffebcd;}
.blue1{color:#79a7d3;}
.blue2{color:#6883bc;}
.blue3{color:#031163;}
.blue4{color:#408ec6;}
.blueviolet{color:#8a2be2;}
.blue{color:#0000ff;}
.brick{color:#b20238;}
.bright-purple{color:#4203c9;}
.brown1{color:#322514;}
.brown{color:#a52a2a;}
.burlywood{color:#deb887;}
.burnt-sienna{color:#c66b3d;}
.cadetblue{color:#5f9ea0;}
.charcoal{color:#3b4d61;}
.chartreuse{color:#7fff00;}
.chocolate{color:#d2691e;}
.coral{color:#f47a60;}
.coral{color:#ff7f50;}
.cornflowerblue{color:#6495ed;}
.cornsilk{color:#fff8dc;}
.crimson{color:#dc143c;}
.cyan1{color:#12a4d9;}
.cyan2{color:#16acea;}
.cyan{color:#00ffff;}
.dark-violet{color:#320d3e;}
.darkblue{color:#00008b;}
.darkcyan{color:#008b8b;}
.darkgoldenrod{color:#b8860b;}
.darkgray{color:#a9a9a9;}
.darkgreen{color:#006400;}
.darkkhaki{color:#bdb76b;}
.darkmagenta{color:#8b008b;}
.darkolivegreen{color:#556b2f;}
.darkorange{color:#ff8c00;}
.darkorchid{color:#9932cc;}
.darkred{color:#8b0000;}
.darksalmon{color:#e9967a;}
.darkseagreen{color:#8fbc8f;}
.darkslateblue{color:#483d8b;}
.darkslategray{color:#2f4f4f;}
.darkturquoise{color:#00ced1;}
.darkviolet{color:#9400d3;}
.deep-pine-green{color:#1d3c45;}
.deep-turquoise{color:#1e847f;}
.deeppink{color:#ff1493;}
.deepskyblue{color:#00bfff;}
.dimgray{color:#696969;}
.dodgerblue{color:#1e90ff;}
.feldspar{color:#d19275;}
.firebrick{color:#b22222;}
.floralwhite{color:#fffaf0;}
.forest-green1{color:#1b6535;}
.forest-green2{color:#3a6b35;}
.forestgreen{color:#228b22;}
.fuchsia1{color:#d13ca4;}
.fuchsia2{color:#d902ee;}
.fuchsia{color:#ff00ff;}
.gainsboro{color:#dcdcdc;}
.ghostwhite{color:#f8f8ff;}
.gold1{color:#ef9d10;}
.goldenrod{color:#daa520;}
.goldenrod{color:#e8d21d;}
.gold{color:#ffd700;}
.grape{color:#4d5198;}
.gray{color:#808080;}
.green1{color:#1fbfb8;}
.green2{color:#05716c;}
.green3{color:#1978a5;}
.green4{color:#77c593;}
.green5{color:#9bc472;}
.greenyellow{color:#adff2f;}
.green{color:#008000;}
.grey1{color:#6b7b8c;}
.grey2{color:#ced7d8;}
.honeydew{color:#f0fff0;}
.hot-pink{color:#f162ff;}
.hotpink{color:#ff69b4;}
.indianred{color:#cd5c5c;}
.indigo1{color:#1e2761;}
.indigo{color:#4b0082;}
.ivory{color:#fffff0;}
.jade{color:#077b8a;}
.khaki{color:#b4a284;}
.khaki{color:#f0e68c;}
.lavenderblush{color:#fff0f5;}
.lavender{color:#e6e6fa;}
.lawngreen{color:#7cfc00;}
.lemonchiffon{color:#fffacd;}
.light-grey{color:#e5e5dc;}
.light-olive{color:#e7e8d1;}
.light-peach{color:#fff1e1;}
.light-pink1{color:#f5beb4;}
.light-pink2{color:#ffcce7;}
.light-teal{color:#a7beae;}
.lightblue{color:#add8e6;}
.lightcoral{color:#f08080;}
.lightcyan{color:#e0ffff;}
.lightgoldenrodyellow{color:#fafad2;}
.lightgreen{color:#90ee90;}
.lightgrey{color:#d3d3d3;}
.lightpink{color:#ffb6c1;}
.lightsalmon{color:#ffa07a;}
.lightseagreen{color:#20b2aa;}
.lightskyblue{color:#87cefa;}
.lightslateblue{color:#8470ff;}
.lightslategray{color:#778899;}
.lightsteelblue{color:#b0c4de;}
.lightyellow{color:#ffffe0;}
.limegreen{color:#32cd32;}
.lime{color:#00ff00;}
.linen{color:#faf0e6;}
.magenta1{color:#cf1578;}
.magenta2{color:#d9138a;}
.magenta3{color:#ed3572;}
.magenta4{color:#fe3a9e;}
.magenta{color:#ff00ff;}
.mango{color:#ffc13b;}
.maroon{color:#7a2048;}
.maroon{color:#800000;}
.mauve{color:#d9a5b3;}
.mediumaquamarine{color:#66cdaa;}
.mediumblue{color:#0000cd;}
.mediumorchid{color:#ba55d3;}
.mediumpurple{color:#9370d8;}
.mediumseagreen{color:#3cb371;}
.mediumslateblue{color:#7b68ee;}
.mediumspringgreen{color:#00fa9a;}
.mediumturquoise{color:#48d1cc;}
.mediumvioletred{color:#c71585;}
.midnightblue{color:#191970;}
.mintcream{color:#f5fffa;}
.mistyrose{color:#ffe4e1;}
.moccasin{color:#ffe4b5;}
.mustard1{color:#cfb845;}
.mustard2{color:#e3b448;}
.mustard3{color:#f3ca20;}
.navajowhite{color:#ffdead;}
.navy1{color:#1e3d59;}
.navy2{color:#26495c;}
.navy3{color:#4a536b;}
.navy{color:#000080;}
.ochre{color:#c4a35a;}
.oldlace{color:#fdf5e6;}
.olive1{color:#829079;}
.olive2{color:#a8c66c;}
.olivedrab{color:#6b8e23;}
.olive{color:#808000;}
.orange1{color:#d2601a;}
.orangered{color:#ff4500;}
.orange{color:#ffa500;}
.orchid{color:#da70d6;}
.palegoldenrod{color:#eee8aa;}
.palegreen{color:#98fb98;}
.paleturquoise{color:#afeeee;}
.palevioletred{color:#d87093;}
.papayawhip{color:#ffefd5;}
.peachpuff{color:#ffdab9;}
.peach{color:#efb5a3;}
.peru{color:#cd853f;}
.pink1{color:#e75874;}
.pink2{color:#be1558;}
.pink3{color:#fbcbc9;}
.pink4{color:#e52165;}
.pink{color:#ffc0cb;}
.plum{color:#dda0dd;}
.powder-blue{color:#c6d7eb;}
.powderblue{color:#b0e0e6;}
.purple{color:#800080;}
.raisin{color:#0d1137;}
.raspberry{color:#8a307f;}
.red-orange{color:#ff6e40;}
.red1{color:#d71b3b;}
.red2{color:#d72631;}
.red{color:#ff0000;}
.rosybrown{color:#bc8f8f;}
.rouge{color:#da68a0;}
.royalblue{color:#4169e1;}
.saddlebrown{color:#8b4513;}
.sage1{color:#cbd18f;}
.sage2{color:#a9c0a6;}
.sage3{color:#daf2dc;}
.salmon1{color:#f57e7e;}
.salmon2{color:#ff9a8d;}
.salmon{color:#fa8072;}
.sandybrown{color:#f4a460;}
.sapphire{color:#1868ae;}
.scarlet{color:#b85042;}
.sea-foam1{color:#a2d5c6;}
.sea-foam2{color:#aed6dc;}
.sea-foam3{color:#cbf6db;}
.seagreen{color:#2e8b57;}
.seashell{color:#fff5ee;}
.sepia1{color:#edca82;}
.sepia2{color:#ffd79d;}
.sienna{color:#a0522d;}
.silver{color:#c0c0c0;}
.sky-blue{color:#81b7d2;}
.skyblue{color:#87ceeb;}
.slateblue{color:#6a5acd;}
.slategray{color:#708090;}
.slate{color:#a2a595;}
.snow{color:#fffafa;}
.springgreen{color:#00ff7f;}
.steelblue{color:#4682b4;}
.tan1{color:#b9925e;}
.tan2{color:#e0a96d;}
.tan3{color:#ecc19c;}
.tan{color:#d2b48c;}
.teal1{color:#097770;}
.teal2{color:#315f72;}
.teal3{color:#316879;}
.teal{color:#008080;}
.thistle{color:#d8bfd8;}
.tomato{color:#ff6347;}
.transparent{color: rgba(0, 0, 0, 0);}
.turquoise1{color:#039fbe;}
.turquoise2{color:#79cbb8;}
.turquoise3{color:#7fc3c0;}
.turquoise4{color:#7fe7dc;}
.turquoise{color:#40e0d0;}
.violet1{color:#500472;}
.violet2{color:#5c3c92;}
.violetred{color:#d02090;}
.violet{color:#ee82ee;}
.wheat{color:#f5deb3;}
.whitesmoke{color:#f5f5f5;}
.white{color:#ffffff;}
.yellow-green{color:#e1dd72;}
.yellow1{color:#e2d810;}
.yellow2{color:#e8d71e;}
.yellow3{color:#ffea04;}
.yellowgreen{color:#9acd32;}
.yellow{color:#ffff00;}

.movB {
    background: linear-gradient(to right, red, blue) no-repeat;
    background-repeat: no-repeat;
    background-size: 0 2px;
    background-position: right bottom;
    transition: background-size 0.5s;
}
.movB:hover {
    background-position: left bottom;
    background-size: 100% 2px;
}
