@charset UTF-8;
html, body {padding: 0; word-wrap: break-word; text-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
html { overflow: scroll; box-sizing:border-box; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,body{font-size:15px;line-height:1.5;background-color: black;}

::-webkit-scrollbar { width: 0px; background: transparent; /* make scrollbar transparent */}
body {color: grey; word-wrap: break-word; margin: 2vw; width: 96vw;}

a { text-decoration: none; color: #28A8A8; font-size: inherit; background-color:transparent;-webkit-text-decoration-skip:objects}
a:visited { color: #389898;}
span:active, b:active, a:hover { background-color: indigo;   -webkit-transition: background-color 1000ms;   -ms-transition: background-color 1000ms;   transition: background-color 1000ms;
   box-shadow:  0 3px 5px rgba(255,255,255,0.3);
}

a:focus {   color: red;}
a:active,a:hover{outline-width:0}

img{vertical-align:middle; border-style:none}
tr:nth-child(even) {background: #101010;}

code { color: orange; background-color: #001500}
pre { color: gray; background-color: #000404; text-align: left; margin-left:5vw;  white-space: pre-wrap;}
xmp { color: gray; text-align: left; margin-left:5vw;  white-space: pre-wrap; font-size: 100%;}
u {text-decoration: none; border-bottom: 1px solid gold; }​
a.newtype { color: pink}

.absImage { width: 8vw; display: inline-block; margin-right: 2%;}
#absoluteImg {vertical-align: super; width: 8vw; padding: 3px; border-radius: 15px;
 border: 2px solid gold; background-color: darkgray; overflow: hidden;
 margin-top: 2vw; margin-right: 0%;}
.mainmenu {width:auto; vertical-align: top; display: inline-block; margin-left: 0%;}
::selection { color:red; background-color: #001008; background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

.-js{color:grey;}
.-keyword{color:brown;}
.-comment{color:teal;}
.-number{color:orange;}
.-attr{color:green;}
.-function{color:pink;}
.-params{color:royalblue;}
.-string{color:purple;}
.-title{color:crimson;}



code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}

button,input,select,textarea{font:inherit;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}

textarea{overflow:auto}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}


h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}

h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0; color:gold;}

small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sub{bottom:-0.25em}
sup{top:-0.5em}

#toc {display: inline-block; color: GoldenRod; font-size: 100%; text-align: left; padding: 1%; box-shadow: 5px 5px 15px silver; border-radius: 5px; border: 1px solid DarkSlateGray;}
.someMsg{margin-left:30vw; margin-right:30vw; display: inline-block; color: gold;  font-size: 100%; text-align: left;}

.left, .title {
 position: absolute;
 border-radius: 4px;
 left: 5vw;
 color: GoldenRod;
 border: 1px solid GoldenRod;
 padding: 3px;
 margin-left: 5vw; margin-top: 10px; margin-bottom: 50px;
 font-size: 100%;
}
.index{
 margin-left:5vw;
 margin-right:5vw;
 margin-bottom:10px;
 margin-top:10px;
 font-size: 100%;
 border-radius: 4px;
 color: GoldenRod;
 border: 1px solid GoldenRod;
 padding: 8px;
 box-shadow: 3px 3px 5px silver;
}
.index>a { color: lightgreen;}

.right {
 position: absolute;
 border-radius: 4px;
 right: 5vw;
 color: lightblue;
 border: 1px solid GoldenRod;
 padding: 3px;
 font-size: 100%;
}
.middle {
 border-radius: 4px;
 text-align: center;
 color: gold;
 border: 1px solid GoldenRod;
 padding: 3px;
 font-size: 100%;
}
.ulleft {
 left: 150px;
 border-radius: 8px;
 border-bottom: 1px solid GoldenRod;
 padding: 3px;
 font-size: 100%;
}
.tophat {
 right: 10vw;
 border-radius: 10px;
 border-top: 1px solid GoldenRod;
 padding: 3px;
 font-size: 100%;
}
.tophatdot {
 border-radius: 16px;
 border-top: 1px dotted GoldenRod;
 padding: 1px;
 font-size: 100%;
}
.redtophatdot {
 border-radius: 32px;
 border-top: 1px dotted red;
 padding: 1px;
 font-size: 100%;
}
.bottomshoe {
 border-radius: 10px;
 border-bottom: 1px solid GoldenRod;
 padding: 3px;
 font-size: 100%;
}
.tophat, .bottomshoe, .redtophatdot, .tophatdot, .tophat{line-height:200%;}
.bracketit {
 border-radius: 5px;
 border-left: 1px solid GoldenRod;
 border-right: 1px solid GoldenRod;
 padding: 3px;
 font-size: 100%;
}
.aquacolor {
 color: Aqua;
}
.bordsub {
 display: inline-block;
 color: #F07070;
 border: 1px solid darkcyan;
 padding: 1px;
 border-radius: 3px;
 font-size: 100%;
}
.bord {
 color: redrose;
 border: 1px solid GoldenRod;
 border-radius: 4px;
 font-size: 100%;
 padding: 1px;
 font-size: 100%;
 text-shadow: 1px 1px 1px green;}
}
.redbord {
 color: white;
 border: 1px solid red;
 padding: 3px;
 font-size: 100%;
 border-radius: 6px;
}
.whitebord {
 color: red;
 border: 2px solid white;
 padding: 3px;
 font-size: 100%;
 border-radius: 6px;
 box-shadow: 1px 1px 5px white inset;
 text-shadow: 2px 2px 2px darkblue, -1px -1px 1px silver;
}
.brownbord {
 color: white;
 border: 1px solid brown;
 padding: 2px;
 font-size: 100%;
 border-radius: 3px;
}
.goldbord {
 color: gold;
 border: 1px solid gold;
 padding: 2px;
 font-size: 100%;
 border-radius: 3px;
}
.index{display: inline-block;}
.goldsha, .redsha, .whitesha, .blacksha, .purplesha, .orangesha, .yellowsha, .greensha, .bluesha, .whiteOnblacksha, .blackOnredsha {
 padding: 5px;
margin: 8px;
 border-radius: 8px;
 font-size: 100%;
 line-height:200%;
}
.goldsha {
 color: gold;
 border: 1px solid gold;
 box-shadow: -2px -2px 4px darkred inset;
 text-shadow: 1px 1px 1px black, 0px 0px 4px yellow ,  -1px -1px 3px red;
}
.redsha {
 color: white;
 border: 1px solid red;
 background-color: DarkRed;
 box-shadow: 2px 2px 3px black inset;
 text-shadow: 1px 1px 3px black, -1px -1px 5px white;
}
.whitesha {
 color: black;
 border: 1px solid red;
 background-color: white;
 box-shadow: 3px 3px 6px dimgrey inset;
 text-shadow: 2px 2px 3px black, -2px -2px 3px silver;
}
.blacksha {
 color: gold;
 border: 1px solid red;
 background-color: #700000;
 box-shadow: 2px 2px 3px black inset;
 font-weight: bold;
}
.whiteOnblacksha {
 color: white;
 border: 1px solid red;
 background-color: #400000;
 box-shadow: 4px 4px 3px black inset;
 text-shadow: 2px 2px 3px silver, -2px -2px 3px darkblue;
}
.blackOnredsha {
 color: red;
 border: 1px solid red;
 background-color: black;
 box-shadow: 1px 1px 1px gold inset;
}
.purplesha {
 color:  #9e0063;
 border: 1px solid #880083;
 background-color: white;
 box-shadow: 3px 3px 6px  #880033 inset;
 text-shadow: 1px 1px 2px black, -1px -1px 2px #880033;
}
.orangesha {
 color: orange;
 border: 1px solid yellow;
 background-color: black;
 box-shadow: 2px 2px 5px white inset;
 text-shadow: 0px 0px 2px black, 1px 0px 8px white;
}
.yellowsha {
 color: yellow;
 background-color: #480000;
 border: 1px solid lime;
 box-shadow: 3px 3px 5px dimgray inset;
 text-shadow: 0px 0px 1px black, 2px 2px 6px black, -2px -2px 6px black;
}
.greensha {
 color: lime;
 background-color: #000033;
 border: 1px solid green;
 box-shadow: 2px 2px 3px rgba(255,255,255,033) inset;
 text-shadow: 1px 1px 1px black,  -1px -1px 1px silver, 0 0 2px white ;
}
.bluesha {
 color: white;
 background-color: darkblue;
 border: 1px solid lightblue;
 text-shadow: 2px 2px 4px cyan, -1px -1px 3px grey;
 box-shadow: 2px 2px 3px black inset;
}

.blackinsha, .limeinsha, .blueinsha, .redinsha, .yellowinsha, .greeninsha {
 padding: 2px;
 padding-left: 8px;
 padding-right: 8px;
 border-radius: 8px;
 font-size: 100%;
}

.blackinsha {
 color: black;
 background-color: gold;
 border: 1px solid white;
 box-shadow: 3px 3px 6px black inset;
 text-shadow: 0px 0px 3px black, 2px 2px 4px black;
}

.limeinsha {
 color: lime;
 background-color: blue;
 border: 1px solid white;
 box-shadow: 3px 3px 6px lime inset;
 text-shadow: 0px 0px 4px black, 2px 2px 4px black;
}

.blueinsha {
 color: blue;
 background-color: white;
 border: 1px solid white;
 box-shadow: 3px 3px 6px blue inset;
 text-shadow: 2px 2px 3px black, -1px -1px 3px grey;
}

.redinsha {
 color: red;
 background-color: white;
 border: 1px solid white;
 box-shadow: 3px 3px 6px red inset;
 text-shadow: 2px 2px 3px black, -1px -1px 3px grey;
}

.yellowinsha {
 color: yellow;
 background-color: black;
 border: 1px solid white;
 box-shadow: 0 0px 5px rgba(255,255,0,093), 0px 0px 12px yellow inset;
 text-shadow: 1px 1px 3px gold, -1px -1px 3px grey;
}
.greeninsha {
 color: green;
 background-color: black;
 border: 1px solid lime;
 text-shadow: -1px -1px 1px lime;
 box-shadow: 0 0px 5px rgba(255,255,0,093), 0px 0px 12px green inset;
}

.goldline{
 text-decoration: underline;
 text-decoration-color: gold;
}
.redline{
 text-decoration: underline;
 text-decoration-color: red;
 text-decoration-style:dotted;
}
.purplebord {
 background-color: rgba(40,40,0,0.4);
 color: purple;
 border: 1px solid purple;
 padding: 2px;
 font-size: 100%;
 border-radius: 3px;
}
.orangebord {
 background-color: #003300;
 color: orange;
 border: 1px solid orange;
 padding: 2px;
 font-size: 100%;
 border-radius: 3px;
}
.greenbord {
 display: inline-block;
 background-color: #000000;
 color: green;
 border: 1px solid green;
 padding: 2px;
 font-size: 100%;
 border-radius: 3px;
}
.greenbord a { color: orange;}

.gotop {
 color: Tan;
 border: 1px solid #e6afff;
 padding: 3px;
 font-size: 100%;
 border-radius: 6px;
}
.redrose { color: #cc0099; text-shadow: 1px 1px 2px red, -1px -1px 1px white;}
.redword { color: red; text-shadow: 1px 1px 2px black, -1px -1px 1px white;}
.darkredword { color: DarkRed}
.yellowword { color: yellow; text-shadow: 2px 2px 1px brown, -1px -1px 1px white;}
.greenword { color: lightgreen; text-shadow: 2px 3px 3px darkgreen, -1px -1px 1px white;}
.limeword { color: #00ff00}
.greyword { color: grey}
.orangeword { color: orange; text-shadow: 1px 1px 2px black, -1px -1px 1px white;}
.cyanword { color: cyan}
.pinkword { color: pink; text-shadow: 1px 1px 2px red, -2px -1px 1px white;}
.whiteword { color: white; text-shadow: 1px 1px 2px gold;}
.grayword { color: gray}
.brownword { color: #ff8000}
.yellowgreen { color: #bfff00}
.palered { color: #ffcccc}
.blueword { color: dodgerblue; text-shadow: 2px 3px 3px darkblue, -1px -1px 1px white;}
.purpleword { color: darkorchid}
.goldword { color: GoldenRod; text-shadow: 1px 1px 3px red, -1px -1px 1px white;}
.silverword { color: silver}
.blackword { color: black}
.darkblueword { color: darkblue}
.keybut{background:#988;
 border-color:#EEE #AAA #777 #CCC;
 border-style:solid;
 border-width:2px 4px 4px 3px;
 color: gold;
 padding:0px;
 font-size:100%;
 text-shadow: 2px 2px 3px black, 0px 0px 1px orange ,  -1px -1px 3px white;
 margin:0 2px;
 border-radius:5px;}

.glassb, .blueb, .redb, .yellowb, .purpleb, .greenb, .orangeb, .limeb, .goldb, .silverb, .whiteb, .blackb, .redyellowb, .silverblueb, .pinkb, .oliveb, .goldblackb,.goldwhiteb, .goldblueb, .silvergreenb, .silverredb, .silverpurpleb, .silverblackb, .silveroliveb {
 text-align:center;
 font-size:100%;
 line-height: 200%;
 padding:2px;
 margin: 5px;
 text-shadow: /* Simulating Text Stroke */
 /*-1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;*/
 1px 1px 1px black;
 
 border: 1px solid rgba(250,250,0,0.5);
 border-radius: 10px;

 box-shadow: 
 0 3px 5px rgba(255,255,255,0.3), /* Exterior Shadow */
 inset 0 3px rgba(255,255,255,0.3), /* Top light Line */
 inset 0 6px rgba(255,255,255,0.2), /* Top Light Shadow */
 inset 0 8px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
 inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
 display: inline-block;
 text-decoration: none;
}
.smallword{font-size: smaller;}
.blueb { color:cyan; background-image: linear-gradient(rgba(120,120,120,0.4), rgba(80,80,250,0.2)); text-shadow: 0px 0px 2px black, 0px 0px 4px black; border-color: white;}
.redb { color:red; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(255,0,0,0.25));}
.yellowb { color:yellow; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(200,200,0,0.25));}
.purpleb { color:violet; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(200,0,180,0.25)); text-shadow: 0px -1px 1px black, 0px 1px 8px white;}
.greenb { color:lightgreen; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(0,128,0,0.25)); text-shadow: 0px -1px 0px grey;}
.orangeb { color:orange; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(250,250,0,0.25));}
.limeb { color:lime; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(0,255,0,0.25));}
.goldb { color:gold; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(255,215,0,0.25));}
.silverb { color:silver; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(192,192,192,0.25));}
.blackb { color:white; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(0,0,0,0.25)); text-shadow: -1px -1px 1px black, 0px 1px 3px grey;}
.whiteb { color:white; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(255,255,255,0.25));}
.redyellowb { color:red; background-image: linear-gradient(rgba(200,200,0,0.6), rgba(255,0,0,0.25));}
.pinkb { color:pink; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(255, 20, 147,0.25));}
.oliveb { color:#b0b000; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(128, 128, 0,0.25));}
.goldblackb { color:gold; background-image: linear-gradient(rgba(255, 215, 0,0.6), rgba(0, 0, 0,0.25)); text-shadow: 0px 0px 3px black, -1px -1px 1px black;}
.goldblueb { color:deepskyblue; background-image: linear-gradient(rgba(255, 215, 0,0.6), rgba(150, 150, 150,0.55)); text-shadow: 0px -1px 0px grey;}
.goldwhiteb { color:white; background-image: linear-gradient(rgba(255, 215, 0,0.6), rgba(255, 255, 255, 0.45)); text-shadow: -1px -1px 2px black;}
.silverblueb { background-color: rgba(0,0,192,0.4); color:steelblue; background-image: linear-gradient(rgba(192,192,192,0.4), rgba(0,0,255,0.4)); text-shadow: 0px 0px 2px black, 2px 2px 3px black;}
.silverredb {  background-color: rgba(10,0,0,0.4);color:hotpink; background-image: linear-gradient(rgba(192,192,192,0.6), rgba(255,0,0,0.35));}
.silvergreenb { color:greenyellow; background-image: linear-gradient(rgba(192,192,192,0.6), rgba(0,128,0,0.35));}

.silverpurpleb { color:orchid; background-image: linear-gradient(rgba(192,192,192,0.6), rgba(200,0,180,0.35));}
.silverblackb { color:silver; background-image: linear-gradient(rgba(192,192,192,0.4), rgba(0,0,0,0.4)); text-shadow: 1px 1px 2px black, -1px -1px 2px grey;}
.silveroliveb { color:#a0a000; background-image: linear-gradient(rgba(192,192,192,0.6), rgba(128,128,0,0.35));}

.rbBut{
 border-radius: 15px;
 position: relative;
 display: inline-block;
 padding: 2px 10px;
 background-color: green;
 background-image: linear-gradient(red, blue);
 text-decoration: none;
 font-size:100%;
 color: #fff;

 border: 1px solid rgba(0,0,0,0.5);
 /*border-bottom: 5px solid rgba(0,0,0,0.6);*/

 box-shadow: 
 0 5px 15px rgba(250,0,0,0.5), /* Exterior Shadow */
 inset 0 3px rgba(255,255,255,0.3), /* Top light Line */
 inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
 inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
 inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}

.rbBut:after{
 border-radius: 15px;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 95vw;
 height: 50vw;
 background: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0));
}


table{
	width: 100%;
	font-size: 20px;
	border-collapse: collapse;
	border: 1px solid gray;
}
th{
	border: 1px solid gray;
	font-weight:bold;
	color: lightgreen;
}
td{
	padding:10px;
	border: 1px dotted dimgray;
}


.questiontitle { margin: auto; margin-bottom: 2.5rem; color: grey;
}

.question, .answer { margin: auto; padding: 2px 2px; color: #10C030;}
.answer{color: black}
.answer.appear{color: grey}

button, .jumpButton { background-color: black; outline: none; padding: 5px 10px; display: inline-block; margin: auto; margin-top: 2.5rem; cursor: pointer; border: 1px solid darkgreen; border-radius: 8px; box-shadow: 2px 2px 4px darkgreen inset; text-shadow: 1px 1px 5px grey, -1px -1px 1px grey; color: #20A020;
}
.mainFrame{border-radius: 5px; border: 1px solid #202020; padding:10px;}
.disabled { background-color: #D8D8D8; color: #888; cursor: not-allowed;
}
.blinkred { color:red; animation: blinker 2s ease-in-out infinite; }
.blinkgreen { color:green; animation: blinker 2s ease-in-out infinite; }
.blinkyellow { color:yellow; animation: blinker 2s ease-in-out infinite; }
.blinkredfast { color:red; animation: blinker 0.08s ease-in-out infinite; }
.blinkNmove { color:red; animation: mymove 5s ease-in-out infinite; border-radius:3px;}

@keyframes blinker {
 0% { opacity: 0; } 
 10% { opacity: 1; } 
 50% { opacity: 1; } 
 60% { opacity: 0; } 
 70% { opacity: 1; } 
100% { opacity: 1; } 
 }
 
@keyframes mymove {
    0%   {background: darkslategray;}
    25%  {background: blue;}
    50%  {background: dimgrey;border-radius:5px; border: 1px solid dimgray;}
    75%  {background: midnightblue;}
    100% {background: black;}
}

@media only screen and (max-width: 720px) {
	body {font-size: medium; width: 100%; margin: 0%;}
	.absImage { width: 15vw;}
	#absoluteImg {width: 15vw}
	.mainFrame{width:100%;font-size: medium;}
	.question, .answer {font-size: large;}
	button, .jumpButton {font-size: large;}
 }

@media only screen and (min-width: 721px) and (max-width: 1280px) {
	body {font-size: large; width: 96%; margin: 2%;}
	.absImage { width: 5vw;}
	#absoluteImg {width: 5vw}
	.mainFrame{width:40%;font-size: medium;}
	.question, .answer {font-size: large;}
	button, .jumpButton {font-size: large;}
	.left, .title { font-size: 100%;}
}

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
	body {font-size: small; width: 96%; margin: 2%;}
	.absImage { width: 5vw;}
	#absoluteImg {width: 5vw}
	.mainFrame{width:35%;font-size: large;}
	.question, .answer {font-size: large !important;}
	button, .jumpButton {font-size: large;}
	.left, .title { font-size: 70%;}
}

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
	body {font-size: 1.3vw; width: 96%; margin: 2%;}
	.absImage { width: 5vw;}
	#absoluteImg {width: 5vw}
	.mainFrame{width:35%;font-size: large;}
	.question, .answer {font-size: large !important;}
	button, .jumpButton {font-size: large;}
	.left, .title { font-size: 70%;}
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) {
	body {font-size: 1.2vw; width: 96%; margin: 2%;}
	.absImage { width: 5vw;}
	#absoluteImg {width: 5vw;}
	.mainFrame{width:35%;font-size: large;}
	.question, .answer {font-size: large !important;}
	button, .jumpButton {font-size: large;}
	.left, .title { font-size: 70%;}
}
kbd{background-color:#002010;
border:1px solid #d1d5da;
border-bottom-color:#c6cbd1;
border-radius:3px;
box-shadow:inset 0 -1px 0 #c6cbd1;
color:silver;
display:inline-block;
font:18px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
line-height:20px;
padding:3px 5px;
vertical-align:middle}
