@charset UTF-8;
html, body {
 margin: 2vw;
 padding: 0;
 word-wrap: break-word;
 font-size: 1.8vw;
}

html {
 overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
 background-color: #000000;
 color: #40C060;
   word-wrap: break-word;
}
@media only screen and (max-width: 720px) {
    body {
        font-size: 2.5vw;
    }
}

a { text-decoration: none;
    color: #28B8B8;}
a:visited { color: #389898;}
A:hover {   color: yellow;  box-shadow:  0 3px 5px rgba(255,255,255,0.3);/
} 
A:focus {   color: red;}
code { color: pink; background-color: #001500}
pre { color: gray; background-color: #001010; text-align: left; margin-left:5vw;  white-space: pre-wrap;}
u {text-decoration: none; border-bottom: 1px solid gold; }​

a.newtype { color: pink}
#absoluteImg {
width: 10vw;
  padding: 3px;
  border-radius: 10%;
  border: 2px solid gold;
  background-color: darkgray;
  overflow: hidden;
}
#toc {
   display: inline-block;
   color: GoldenRod;
   font-size: 80%;
   text-align: left;
}
.someMsg{
    margin-left:30%;
    margin-right:30%;
   display: inline-block;
   color: gold;
   font-size: 80%;
   text-align: left;
}

.left, .title {
    position: absolute;
    border-radius: 4px;
    left: 10vw;
    color: GoldenRod;
    border: 1px solid GoldenRod;
    padding: 3px;
    font-size: 80%;
}
.index{
    margin-left:10vw;
    margin-right:10vw;
    margin-bottom:10px;
    margin-top:10px;
    font-size: 90%;
    border-radius: 4px;
    color: GoldenRod;
    border: 1px solid GoldenRod;
    padding: 8px;
    box-shadow: 3px 3px 5px silver;
}
.index>a { color: lightgreen;}

.right {
    position: absolute;
    border-radius: 4px;
    right: 5%;
    color: lightblue;
    border: 1px solid GoldenRod;
    padding: 3px;
    font-size: 60%;
}
.ulleft {
    left: 150px;
    border-radius: 8px;
    border-bottom: 1px solid GoldenRod;
    padding: 3px;
    font-size: 90%;
}
.tophat {
    right: 10%;
    border-radius: 10px;
    border-top: 1px solid GoldenRod;
    padding: 3px;
    font-size: 90%;
}
.tophatdot {
    border-radius: 16px;
    border-top: 1px dotted GoldenRod;
    padding: 1px;
    font-size: 90%;
}
.redtophatdot {
    border-radius: 32px;
    border-top: 1px dotted red;
    padding: 1px;
    font-size: 90%;
}
.bracketit {
    border-radius: 5px;
    border-left: 1px solid GoldenRod;
    border-right: 1px solid GoldenRod;
    padding: 3px;
    font-size: 90%;
}
.aquacolor {
    color: Aqua;
}
.bordsub {
    display: inline-block;
    color: #F07070;
    border: 1px solid darkcyan;
    padding: 1px;
    border-radius: 3px;
    font-size: 90%;
}
.bord {
    color: redrose;
    border: 1px solid GoldenRod;
      border-radius: 4px;
    font-size: 90%;
    padding: 1px;
    font-size: 90%;
}
.redbord {
    color: white;
    border: 1px solid red;
    padding: 3px;
    font-size: 60%;
    border-radius: 6px;
}
.whitebord {
    color: red;
    border: 1px solid white;
    padding: 3px;
    font-size: 60%;
    border-radius: 6px;
}
.brownbord {
    color: white;
    border: 1px solid brown;
    padding: 2px;
    font-size: 80%;
    border-radius: 3px;
}
.goldbord {
    color: gold;
    border: 1px solid gold;
    padding: 2px;
    font-size: 60%;
    border-radius: 3px;
}
.index{display: inline-block;}
.goldsha, .redsha, .whitesha, .blacksha, .purplesha, .orangesha, .yellowsha, .greensha, .bluesha {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    font-size: 80%;
}
.goldsha {
    color: gold;
    border: 1px solid gold;
    box-shadow: 2px 2px 5px white inset;
    text-shadow: 1px 1px 1px black, 0px 0px 4px yellow ,  -1px -1px 3px red;

}
.redsha {
    color: white;
    border: 1px solid red;
    background-color: DarkRed;
    box-shadow: 2px 2px 8px pink inset;
    text-shadow: 1px 1px 3px black, -1px -1px 5px white;
}
.whitesha {
    color: black;
    border: 1px solid red;
    background-color: white;
    box-shadow: 3px 3px 6px dimgrey inset;
    text-shadow: 2px 2px 3px black, -2px -2px 3px silver;
}
.blacksha {
    color: white;
    border: 1px solid gold;
    background-color: black;
    box-shadow: 3px 3px 8px grey inset;
    text-shadow: 2px 2px 3px dimgrey, -2px -2px 3px silver;
}
.purplesha {
    color: purple;
    border: 1px solid white;
    background-color: white;
    box-shadow: 3px 3px 6px purple inset;
    text-shadow: 2px 2px 3px black, -1px -1px 3px grey;
}
.orangesha {
    color: orange;
    border: 1px solid yellow;
    background-color: black;
    box-shadow: 2px 2px 5px white inset;
    text-shadow: 0px 0px 1px black, 2px 2px 5px white;
}
.yellowsha {
    color: yellow;
    background-color: white;
    border: 1px solid lime;
    box-shadow: 3px 3px 5px dimgray inset;
    text-shadow: 0px 0px 4px black, 2px 2px 6px black;
}
.greensha {
    color: lime;
    background-color: #050515;
    border: 1px solid green;
    box-shadow: 2px 2px 5px white inset;
    text-shadow: 1px 1px 3px black,  -1px -1px 1px silver, 0 0 8px white ;
}
.bluesha {
    color: white;
    background-color: darkblue;
    border: 1px solid lightblue;
    text-shadow: 2px 2px 4px cyan, -1px -1px 3px grey;
    box-shadow: 2px 2px 6px lightblue inset;
}

.blackinsha, .limeinsha, .blueinsha, .redinsha, .yellowinsha, .greeninsha {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    font-size: 80%;
}

.blackinsha {
    color: black;
    background-color: gold;
    border: 1px solid white;
    box-shadow: 3px 3px 6px black inset;
    text-shadow: 0px 0px 3px black, 2px 2px 4px black;
}

.limeinsha {
    color: lime;
    background-color: blue;
    border: 1px solid white;
    box-shadow: 3px 3px 6px lime inset;
    text-shadow: 0px 0px 4px black, 2px 2px 4px black;
}

.blueinsha {
    color: blue;
    background-color: white;
    border: 1px solid white;
    box-shadow: 3px 3px 6px blue inset;
    text-shadow: 2px 2px 3px black, -1px -1px 3px grey;
}

.redinsha {
    color: red;
    background-color: white;
    border: 1px solid white;
    box-shadow: 3px 3px 6px red inset;
    text-shadow: 2px 2px 3px black, -1px -1px 3px grey;
}

.yellowinsha {
    color: yellow;
    background-color: black;
    border: 1px solid white;
    box-shadow: 0 0px 5px rgba(255,255,0,093), 0px 0px 12px yellow inset;
    text-shadow: 1px 1px 3px gold, -1px -1px 3px grey;
}
.greeninsha {
    color: green;
    background-color: black;
    border: 1px solid lime;
    text-shadow: -1px -1px 1px lime;
    box-shadow: 0 0px 5px rgba(255,255,0,093), 0px 0px 12px green inset;
}

.goldline{
    text-decoration: underline;
    text-decoration-color: gold;
}
.redline{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style:dotted;
}
.purplebord {
    background-color: rgba(40,40,0,0.4);
    color: purple;
    border: 1px solid purple;
    padding: 2px;
    font-size: 80%;
    border-radius: 3px;
}
.orangebord {
    background-color: #003300;
    color: orange;
    border: 1px solid orange;
    padding: 2px;
    font-size: 60%;
    border-radius: 3px;
}
.greenbord {
    display: inline-block;
    background-color: #000000;
    color: green;
    border: 1px solid green;
    padding: 2px;
    font-size: 80%;
    border-radius: 3px;
}
.greenbord a { color: orange;}

.gotop {
    color: Tan;
    border: 1px solid #e6afff;
    padding: 3px;
    font-size: 60%;
    border-radius: 6px;
}
.highlight { 
    color: white;
    background-color: #002030
  }
.redrose { color: #cc0099}
.redword { color: red}
.darkredword { color: DarkRed}
.yellowword { color: yellow}
.greenword { color: lightgreen}
.limeword { color: .00ff00}
.orangeword { color: orange}
.cyanword { color: cyan}
.pinkword { color: pink}
.whiteword { color: white}
.grayword { color: gray}
.brownword { color: #ff8000}
.yellowgreen { color: #bfff00}
.palered { color: #ffcccc}
.blueword { color: dodgerblue}
.purpleword { color: darkorchid}
.goldword { color: GoldenRod}
.silverword { color: silver}
.blackword { color: black}
.keybut{background:#988;
    border-color:#EEE #AAA #777 #CCC;
    border-style:solid;
    border-width:2px 4px 4px 3px;
    color: gold;
    padding:0px;
    font-size:80%;
    text-shadow: 2px 2px 3px black, 0px 0px 1px orange ,  -1px -1px 3px white;
    margin:0 2px;
    border-radius:5px;}

.glassb, .blueb, .redb, .yellowb, .purpleb, .greenb, .orangeb, .limeb, .goldb, .silverb, .whiteb, .blackb, .redyellowb, .silverblueb, .pinkb, .oliveb, .goldblackb,.goldwhiteb, .goldblueb, .silvergreenb, .silverredb, .silverpurpleb, .silverblackb, .silveroliveb {
 text-align:center;
 font-size:80%;
 padding:2px;
 margin: 5px;
 text-shadow: /* Simulating Text Stroke */
 /*-1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;*/
 1px 1px 1px black;
 
 border: 1px solid rgba(0,0,0,0.5);
 border-radius: 10px;

 box-shadow: 
 0 3px 5px rgba(255,255,255,0.3), /* Exterior Shadow */
 inset 0 3px rgba(255,255,255,0.3), /* Top light Line */
 inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
 inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
 inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
 display: inline-block;
 text-decoration: none;
}

.blueb { color:blue; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(0,0,250,0.25)); text-shadow: 0px 1px 1px lightblue;}
.redb { color:red; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(255,0,0,0.25));}
.yellowb { color:yellow; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(200,200,0,0.25));}
.purpleb { color:purple; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(200,0,180,0.25)); text-shadow: 0px -1px 1px black, 0px 1px 8px white;}
.greenb { color:green; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(0,128,0,0.25)); text-shadow: 0px -1px 0px grey;}
.orangeb { color:orange; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(250,250,0,0.25));}
.limeb { color:lime; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(0,255,0,0.25));}
.goldb { color:gold; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(255,215,0,0.25));}
.silverb { color:silver; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(192,192,192,0.25));}
.blackb { color:white; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(0,0,0,0.25)); text-shadow: -1px -1px 1px black, 0px 1px 3px grey;}
.whiteb { color:white; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(255,255,255,0.25));}
.redyellowb { color:red; background-image: linear-gradient(rgba(200,200,0,0.6), rgba(255,0,0,0.25));}
.pinkb { color:pink; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(255, 20, 147,0.25));}
.oliveb { color:olive; background-image: linear-gradient(rgba(90,90,90,0.6), rgba(128, 128, 0,0.25));}
.goldblackb { color:gold; background-image: linear-gradient(rgba(255, 215, 0,0.6), rgba(0, 0, 0,0.25)); text-shadow: 0px 0px 3px black, -1px -1px 1px black;}
.goldblueb { color:blue; background-image: linear-gradient(rgba(255, 215, 0,0.6), rgba(150, 150, 150,0.55)); text-shadow: 0px -1px 0px grey;}
.goldwhiteb { color:white; background-image: linear-gradient(rgba(255, 215, 0,0.6), rgba(255, 255, 255, 0.45)); text-shadow: -1px -1px 2px black;}
.silverblueb { background-color: rgba(0,0,192,0.4); color:steelblue; background-image: linear-gradient(rgba(192,192,192,0.4), rgba(0,0,255,0.4)); text-shadow: 0px 0px 2px black, 2px 2px 3px black;}
.silverredb {  background-color: rgba(192,192,0,0.4);color:red; background-image: linear-gradient(rgba(192,192,192,0.6), rgba(255,0,0,0.35));}
.silvergreenb { color:greenyellow; background-image: linear-gradient(rgba(192,192,192,0.6), rgba(0,128,0,0.35));}

.silverpurpleb { color:purple; background-image: linear-gradient(rgba(192,192,192,0.6), rgba(200,0,180,0.35));}
.silverblackb { color:silver; background-image: linear-gradient(rgba(192,192,192,0.4), rgba(0,0,0,0.4)); text-shadow: 1px 1px 2px black, -1px -1px 2px grey;}
.silveroliveb { color:olive; background-image: linear-gradient(rgba(192,192,192,0.6), rgba(128,128,0,0.35));}

.rbBut{
    border-radius: 15px;
    position: relative;
    display: inline-block;
    padding: 2px 10px;
    background-color: green;
    background-image: linear-gradient(red, blue);
    text-decoration: none;
    font-size:80%;
    color: #fff;

    border: 1px solid rgba(0,0,0,0.5);
    /*border-bottom: 5px solid rgba(0,0,0,0.6);*/

    box-shadow: 
    0 5px 15px rgba(250,0,0,0.5), /* Exterior Shadow */
    inset 0 3px rgba(255,255,255,0.3), /* Top light Line */
    inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
    inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
    inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}
.rbBut:after{
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95%;
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0));
}
