a {	text-decoration: none;}
A:hover {	color: yellow;}
A:focus {	color: red;}
code { color: pink; background-color: #302030}
pre { color: gray; background-color: #001010}
#newtype { color: pink}
#redpink { color: #cc0099}
#rdw { color: red}
#ylw { color: yellow}
#greenword { color: green}
#limeword { color: #00ff00}
#orangeword { color: orange}
#cyw { color: cyan}
#whiteword { color: white}
#grw { color: gray}
#brownword { color: #ff8000}
#yellowgreen { color: #bfff00}
#palered { color: #ffcccc}
#blw { color: dodgerblue}
#purpleword { color: darkorchid}
#gow { color: GoldenRod}
#slw { color: silver}
#blackword { color: black}
#pkw { color: pink}
.left {
    position: absolute;
    left: 100px;
    color: GoldenRod;
    border: 1px solid GoldenRod;
    padding: 2px;
    font-size: 60%;
}
.bord {
    color: redpink;
    border: 1px solid GoldenRod;
    padding: 1px;
    font-size: 90%;
}
.highlight { 
    color: white;
    background-color: #002030
  }
