
body {
 margin:10%;
 font-size: 24px;
 background-color: #000000;
 color: #109030;
}
a { text-decoration: none;
    color: #28B8B8;}
a:visited { color: #389898;}
A:hover {   color: yellow;}
A:focus {   color: red;}
code { color: pink; background-color: #001500}
pre { color: gray; background-color: #001010}
#newtype { color: pink}
#redrose { color: #cc0099}
#redword { color: red}
#yellowword { color: yellow}
#greenword { color: lightgreen}
#limeword { color: #00ff00}
#orangeword { color: orange}
#cyanword { color: cyan}
#whiteword { color: white}
#grayword { color: gray}
#brownword { color: #ff8000}
#yellowgreen { color: #bfff00}
#palered { color: #ffcccc}
#blueword { color: dodgerblue}
#purpleword { color: darkorchid}
#goldword { color: GoldenRod}
#silverword { color: silver}
#blackword { color: black}
.left {
    position: absolute;
    border-radius: 4px;
    left: 100px;
    color: GoldenRod;
    border: 1px solid GoldenRod;
    padding: 3px;
    font-size: 60%;
}
.ulleft {
    left: 150px;
    padding: 3px;
    font-size: 90%;
}
.aquacolor {
    color: Aqua;
}
.bordsub {
    color: #F07070;
    margin: 3px 90px 3px 90px;
    border: 1px solid darkcyan;
    padding: 1px;
    border-radius: 3px;
    font-size: 90%;
}
.bord {
    color: redrose;
    border: 1px solid GoldenRod;
    padding: 1px;
    font-size: 90%;
}
.redbord {
    color: white;
    border: 1px solid red;
    padding: 3px;
    font-size: 60%;
    border-radius: 6px;
}
.whitebord {
    color: red;
    border: 1px solid white;
    padding: 3px;
    font-size: 60%;
    border-radius: 6px;
}
.brownbord {
    color: gold;
    border: 1px solid brown;
    padding: 2px;
    font-size: 60%;
    border-radius: 3px;
}
.goldbord {
    color: brown;
    border: 1px solid gold;
    padding: 2px;
    font-size: 60%;
    border-radius: 3px;
}
.greenbord {
    background-color: #003300;
    color: orange;
    border: 1px solid green;
    padding: 2px;
    font-size: 60%;
    border-radius: 3px;
}
.orangebord {
    background-color: #003300;
    color: green;
    border: 1px solid orange;
    padding: 2px;
    font-size: 60%;
    border-radius: 3px;
}
.gotop {
    color: Tan;
    border: 1px solid #e6afff;
    padding: 3px;
    font-size: 60%;
    border-radius: 6px;
}
.highlight { 
    color: white;
    background-color: #002030
  }
.redrose { color: #cc0099}
.redword { color: red}
.yellowword { color: yellow}
.greenword { color: lightgreen}
.limeword { color: .00ff00}
.orangeword { color: orange}
.cyanword { color: cyan}
.whiteword { color: white}
.grayword { color: gray}
.brownword { color: #ff8000}
.yellowgreen { color: #bfff00}
.palered { color: #ffcccc}
.blueword { color: dodgerblue}
.purpleword { color: darkorchid}
.goldword { color: GoldenRod}
.silverword { color: silver}
.blackword { color: black}
