body {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 18px;
  background-color: #001000;
  color: gray;
  display: flex;
  justify-content: center;
  align-content: center;
}

.tip {
  width: 100%;
}

.code {
  background-color: #002000;
}

.code-block {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  background-color: #002000;
  display: block;
  margin: 1rem 0;
}

.tip-number {
  margin: auto;
  margin-bottom: 2.5rem;
  color: #205020;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-size: 26px;
}

.js-tip, .cssTip, .cssExplain {
  margin: auto;
  padding: 2px 2px;
  font-size: 24px;
  color: #10C030;
}


.tip-button {
  background-color: #003020;
  outline: none;
  display: inline-block;
  margin: auto;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  color: #10C030;
}

.disabled {
  background-color: #D8D8D8 !important;
  color: #888;
  cursor: not-allowed !important;
}
