body {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 18px;
  background-color: #001000;
  color: gray;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60%;
  margin: 10vh auto;
}

.tip {
  width: 100%;
}

.code {
  background-color: #002000;
  border-radius: 8px;
  border: 1px solid DarkSlateGray;
  padding: 5px; 
}

.code-block {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  background-color: #002000;
  padding: 5px 5px;
  font-size: 1.15rem;
  border-radius: 0.15rem;
  display: block;
  margin: 1rem 0;
}

.tip-number {
  margin: auto;
  margin-bottom: 2.5rem;
  color: #20A020;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-size: 26px;
}

.js-tip, .cssTip, .cssExplain {
  margin: auto;
  padding: 2px 2px;
  font-size: 24px;
  color: #10C030;
}


.tip-button {
  background-color: #003020;
  outline: none;
  padding: 10px 10px;
  display: inline-block;
  margin: auto;
  font-size: 1rem;
  margin-top: 2.5rem;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  color: #10C030;
}

.disabled {
  background-color: #D8D8D8 !important;
  color: #888;
  cursor: not-allowed !important;
}
a { text-decoration: none;
	color: #58D858;}
a:visited { color: #88C898;}
A:hover {	color: yellow;}
A:focus {	color: red;}
code { color: gray; background-color: #001010; font-size: 18px;}
pre { color: gray; background-color: #001010; font-size: 18px;}
