body{width:90%;margin-left: 5%; font-size:24px;}
img {max-width:100%; display: inline-block; margin-top: 2%;margin-bottom: 1%; border-radius:3px; background-color:#149;}
.toc {font-size:20px;}
table {width:100%;}
tr td:nth-child(4) { border-color: red;}
.bordblue1 {font-size:18px;}

#amtNote, #dnAmtNote {font-size: 20px;}

canvas {background-color: #001;}
@media only screen and (max-width: 1080px) {
  .mainFrame {width:100%; font-size: 24px}
  pre {width:100%; font-size: 24px}
  img {width:100%}
  button {margin-top: 5px;}
  #schRst, #markLst {font-size: 20px}
  select option { font-size: 18px, line-height: 60%;}
}
