*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: grey;
	margin: 0 auto;
	max-width: 800px;
	font-size: 16px;
	line-height: 1.6;
	padding: 0 5vw;
	font-family: sans-serif;
	background-color: black;
}

a {
	color: #2c42ea;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #FD987D;
}

.title {
	margin: 10vh 0 0 0;
}

.info {
	font-weight: bold;
}

.content {
	margin: 10vh auto;
}

.circle {
	float: left;
	shape-outside: circle();
	clip-path: circle();
	height: 200px;
	width: 200px;
	background: linear-gradient(to top right, #FDB171, #FD987D);
}

.ellipse {
	float: left;
	shape-outside: ellipse();
	clip-path: ellipse();
	width: 150px;
	height: 300px;
	background: linear-gradient(to top right, #F17BB7, #AD84E3);
}

.inset {
	float: left;
	shape-outside: inset(75px);
	clip-path: inset(75px);
	width: 300px;
	height: 300px;
	background: linear-gradient(#58C2ED, #1B85DC);
}

.polygon {
	float: left;
	shape-outside: polygon(0 0, 0 300px, 200px 300px);
	clip-path: polygon(0 0, 0 300px, 200px 300px);
	height: 300px;
	width: 300px;
	background: linear-gradient(to top right, #86F7CC, #67D7F5);
}


.left {
	float: left;
	shape-outside: polygon(0 0, 0 300px, 200px 300px);
	clip-path: polygon(0 0, 0 300px, 200px 300px);
	background: linear-gradient(to top right, #67D7F5, #86F7CC);
	height: 300px;
	width: 300px;
}

.right {
	float: right;
	shape-outside: polygon(200px 300px, 300px 300px, 300px 0, 0 0);
	clip-path: polygon(200px 300px, 300px 300px, 300px 0, 0 0);
	background: linear-gradient(to bottom left, #67D7F5, #86F7CC);
	height: 300px;
	width: 300px;
}

.pull-quote {
	shape-outside: content-box;
	float: left;
	font-size: 22px;
	font-family: Georgia;
	width: 300px;
	margin-top: 100px;
	margin-left: -100px;
}

.gradient {
	float: left;
	height: 300px;
	width: 100%;
	background: linear-gradient(to bottom right, #86F7CC 20%, transparent 80%);
	shape-outside: linear-gradient(to bottom right, #86F7CC 20%, transparent 80%);
	shape-image-threshold: .5;
}

.letter {
	float: left;
	font-size: 400px;
	font-family: Georgia;
	line-height: .8;
	margin-top: 20px;
	margin-right: 20px;
	shape-outside: polygon(5px 14px, 233px 20px, 246px 133px, 189px 167px, 308px 304px, 0px 306px) content-box;
	clip-path: polygon(5px 14px, 233px 20px, 246px 133px, 189px 167px, 308px 304px, 0px 306px);
}

.justify {
	text-align: justify;
}

.star {
	float: left;
	height: 350px;
	width: 350px;
	shape-outside: url('../img/star.png');
}

hr {
	border: 0;
	background: #ccc;
	height: 1px;
	margin: 10vh 0;
}

@media screen and (max-width: 55em) {

}