@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
body h1 {
  margin-top: 10vh;
  font-size: 50px;
  color: green;
  text-shadow: 2px 1px 3px brown, -2px -1px 3px silver;;
}
body .status {
  color: #E8CAA4;
  margin: auto;
  display: flex;
  width: 50%;
  font-size: 18px;
  justify-content: space-around;
}
body .status .green {
  color: #b4e600;
  text-shadow: 0px 0px 5px 2.5px #7dac68;
}
body .status .red {
  color: #FA023C;
  text-shadow: 0px 0px 5px 2.5px #8a6d77;
}
body .status #work {
  float: left;
}
body .status #break {
  float: right;
}

.clock {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  padding: 0px;
  margin-top: 6vh;
  margin-bottom: 2vh;
  font-family: 'Inconsolata', monospace;
  background-color: #000810;
  color: brown;
  border-radius: 10px;
  border: 7px solid #000010; /* inside shadow color */
  box-shadow: inset 0px 0px 15px 0px #8c2c37;
  box-shadow: 0px 2px 4px 10px #085038; /* external frame color and blur */
  text-shadow: 2px 2px 3px black, -2px -2px 3px silver;
}
@media (min-width: 768px) {
  .clock #clock-text {
    line-height: 100px;
    font-size: 100px;
    height: 1em;
    vertical-align: middle;
  }
}
@media (max-width: 768px) {
  .clock #clock-text {
    line-height: 100px;
    font-size: 100px;
    height: 1em;
    vertical-align: middle;
  }
}
@media (min-width: 992px) {
  .clock #clock-text {
    line-height: 150px;
    font-size: 150px;
    height: 1em;
    vertical-align: middle;
  }
}
.clock .status {
  float: right;
  position: relative;
  display: inline-block;
  top: 12.5px;
  right: 12.5px;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}
.clock .status.green {
  background-color: #b4e600;
  box-shadow: 0px 0px 5px 2.5px #64713f;
}
.clock .status.red {
  background-color: #FA023C;
  box-shadow: 0px 0px 5px 2.5px #70324e;
}

.controls div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
.controls div.outer {
  display: flex;
}
.controls div.outer #reset div {
  font-size: 15px;
  margin-top: 8vh;
}
.controls div.outer #reset .icon {
  margin-top: 8px;
}
.controls div.outer #reset .icon i {
  font-size: 26px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.controls div.outer #reset .icon i:hover {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.controls div.inner {
  margin: auto;
  display: block;
}
.controls div.inner p {
  margin-bottom: 0px;
  margin-top: 8vh;
  font-size: 15px;
  color: #edd6b8;
}
.controls div #session-count, .controls div #break-count {
  display: inline-block;
  min-width: 40px;
}
.controls div {
  color: #edd6b8;
  background-color: black;
  padding-top: 10px;
  font-size: 30px;
}
.controls div i {
  font-size: 18px;
  position: relative;
  bottom: 3px;
}
