BODY { 
        background-color: black;
}

a {	text-decoration: none;}
A:hover {	color: yellow;}
A:focus {	color: red;}
#newtype { color: pink}
#redpink { color: #cc0099}
#redword { color: red}
#yellowword { color: yellow}
#greenword { color: green}
#orangeword { color: orange}
#whiteword { color: white}
#grayword { color: gray}
#brownword { color: #ff8000}

.highlight { 
    color: gray;
    background-color: #002030
  }

.idl-code { 
	font-family: monospace;
	border: 0px solid blue;
	white-space: pre; 
	color: orange;
	background-color: #002020; 
}
.java-code { 
	font-family: monospace;
	border: 0px solid blue;
	white-space: pre; 
	color: orange;
	background-color: #002020; 
}


.code-block { 
	font-family: monospace;
	border: 0px solid blue;
	white-space: pre; 
	color: orange;
	background-color: #002020; 
}


.ecma-block { 
	border: 0px solid blue;
	color: orange;
	background-color: #002020; 
}


.interface-name {
        font-weight: bold
}


.attribute-name {  
        color: orange;
        background-color: #002030;

}

.method-name {  
        color: orange;
        background-color: #002030;
}

.parameter-name {
	margin-top: 1%;
        background-color: #002030; 
        color: orange;
}



UL.toc, OL.toc {list-style: none}
DIV.toc UL UL, DIV.toc OL OL {margin-left: 0}
DIV.toc UL UL UL, DIV.toc OL OL OL {margin-left: 1em}
DIV.toc UL UL UL UL, DIV.toc OL OL OL OL {margin-left: 0}
LI.tocline1 {font-weight: bold}
LI.tocline2 {font-weight: normal}
LI.tocline4 {font-style: italic}
