body {font-family: arial, sans-serif;}
.content {height: 5000px;}
.wrapper {
	display: box; 
	display: flex; 
	box-pack: center;
	justify-content: center;
	box-align: center;
	align-items: center;
	height: 100vh;  width: 100%;  position: fixed;  top: 0px;  left: 0px;}

.box {	box-flex: none;
	flex: none;
	height: 100px;  width: 100px;  line-height: 100px;
	text-align: center;  font-size: 25px;
	color: #fff;  background: #ff8330;
	will-change: transform;}
.box:nth-of-type(2) {background: #E01B5D;}
.box:nth-of-type(3) {background: #30FFFF;}
.box:nth-of-type(4) {background: #B3FF30;}
.box:nth-of-type(5) {background: #308AFF;}
.box:nth-of-type(6) {background: #1BE059;}
