body {
  background-color:#000;
  margin:0;
  min-height:100vh;
  overflow:hidden;
  font-family:Helvetica,Sans-serif;
  font-size:85%;
}


form {
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  background-color:rgba(200,200,200,.8);
  padding:8px;
  font-size:80%;
}

form input[type=text] {
  width:30px;
  border:1px solid #000;
  text-align:center;
}
form button {
  margin:4px auto;
  border:1px solid #000;
  display:block;
}